<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

 <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script> </head>

<body>
<header id="header">

</header>
<div class="lzpbanner"></div>

<div class="lzpwenzi">
	<div class="lzpwenzi1">院校合作<br></div>
	<div class="lzpwenzi2">ACADEMY&nbsp;&nbsp;COOPERATION</div>
    
	<div class="lzpwenzi3">作为教育培训的最高平台，华录教育不遗余力地将“注重实战经验传授，关注职业价值提升”理念推广到各大高校，开展了一系列教育项目。<br>
将华录文化多年的技能经验和教学经验与在校学生共享，通过实际案例的讲解提高行业实践教育水平。<br>
<br>


华录教育的院校活动包括：课程置换、项目实训、教师培训、参观交流、校园讲座等项目。高校师生通过各类活动，可接触到华录教育领先的虚拟现实技术，提升专业实践操作。<br>
同时可使学生在获得高校学历证书的同时，获得华录教育证书和一线实践操作经验，从而提高学生的就业成功率。高校通过与华录教育的院校活动的各项内容互动，可以借助华录教育的强大品牌优势,提升社会美誉度和教学方面的核心竞争力，开拓教师行业视野，也可以提升教学实践技术，扩大招生影响力。</div>
</div>

<div class="lzpkecheng">
	<div class="lzpkecheng1">
        <div class="lzpbox1"></div>
        <div class="lzpbox2"></div>
        <div class="lzpbox3"></div>
        <div class="lzpbox4"></div>
        <div class="lzpbox5"></div>
        <div class="lzpbox6"></div>
        <p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:160px; left:800px; ">一、课程置换</p>
        <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:220px; left:620px; text-indent:2em; ">利用华录教育培训课程体系来弥补现有课程体系中实践教学的不足，使高等院<br>
校学历教育的理论教学和华录教育职业教育的实践教学相结合，优势互补。使在校<br>
学生在文化课学习的同时掌握行业内的专业操作能力，从而紧扣就业市场需求，增<br>
强学生的“求职成功指数”。
</p>

        <div class="lzpxm1"></div>
        <div class="lzpxm2"></div>
        <div class="lzpxm3"></div>
   	  <p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:660px; left:200px; ">二、项目实训</p>
      <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:720px; left:50px; text-indent:2em; ">以华录教育精品技法课程为核心，由华录教育资深讲师授课，将<br>
结合面授、项目实践、实训等方式为高校即将毕业的学生提供强化式<br>
“魔鬼”训练。以培养国际标准化专业人才为方向，使学生在踏入社<br>
会前便接受到国际型跨国公司的项目实训，从而提升就业高度。
</p>
    
    
    
	  <div class="lzpjiaoshi"></div>
   	  <p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:1190px; left:800px; ">三、教师培训</p>
      <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:1250px; left:620px; text-indent:2em; ">
教师培训项目的每一项课程都经过严谨的设计，使所有参加培训的教师能够系<br>
统地了解和掌握国际最新的软件使用理论、方法和技能。所有课程都密切贴近高校<br>
教师日常教学的实际情况和具体需求，尤其侧重于互动式教学法。课程形式丰富多<br>
样，包括课堂教学，讲座，多媒体辅助教学，指导性自学以及教学实践观摩和考核。
</p>
  
	  <div class="lzpcanguan"></div>
      <p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:1700px; left:200px; ">四、参观交流</p>
   	  <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:1760px; left:50px; text-indent:2em; ">
参观交流对高校拓宽视野，创新思维，以及在教学和培养学生实践能力<br>
方面都有很好的启发作用。通过对华录教育教学和实践场地、渲染集群设备、<br>
摄摄影棚和剪辑编辑工作室的了解，对高校学科建设、教研活动、图书出版<br>
等工作提供了全新的视角和发展动力。
</p>
    
    
    
	<div class="lzpxiaoyuan1"></div>
    <div class="lzpxiaoyuan2"></div>
    <div class="lzpxiaoyuan3"></div>
		<p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:2200px; left:506px; ">五、校园讲座</p>
   	  	<p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:2260px; left:229px; text-indent:2em; ">
      校园讲座将国际领先的交流实践平台引入中国高校，促进高校实践教育的升级和国内VR产业的发展。<br>
华录教育校园讲座由众多国内外业界精英现场传授，使得高校师生通过校园讲座了解行业信息，与国际前沿技术接轨。
</p>

    </div>
</div>

<div class="lzpdibukongbai"></div>


<footer id="footer">

</footer>
</body>
</html>
