<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="__PUBLIC__/home/images/css.css" />


 <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script> </head>

<body>

<header id="header">

</header>
    <div class="lzpbanner2"></div>
    
    <div class="lzpwenzibg">
        <div class="lzpwenzibg1">文化扶贫<br></div>
        <div class="lzpwenzibg2">CULTURAL &nbsp;&nbsp;POVERTY&nbsp;&nbsp;ALLEVIATION</div>
        <div class="lzpwenzibg3">文化扶贫是指从文化和精神层面上给予贫困地区以帮助，从而提高当地人民素质，尽快摆脱贫困。传统的扶贫主要是从经济物质上进行辅助，而贫困地区要改变贫穷落后的面貌，既要从经济上加强扶持，更需要加强智力开发。扶贫不仅要扶物质，也要扶精神、扶智力、扶文化。我国文化扶贫工作的开展主要是于1993年12月成立文化扶贫委员会。文化扶贫往往能用最少的钱，收到最大的效果，投入产出比很高。“治贫”必先“治愚”，大力发展农村的文化事业，提高农民的思想文化素质和科学技术水平，是促进农村经济发展，从根本上改善农民生活的关键所在。华录文化教育学院作为中国唯一的文化央企，积极响应政策号召，将展开一系列文化扶贫活动，使文化更好地与经济建设同步协调发展。</div>
    </div>
        
<div class="lzpwenhuafupin">
    	<div class="lzpwenhuapc1"></div>
        <div class="lzpwenhuaheng"></div>
    	<div class="lzpwenhuapc2"></div>
        <div class="lzpwenhuaheng"></div>
        <div class="lzpwenhuapc3"></div>
  </div>
    
    <div class="lzpfupin1">
    	<div class="lzpfupin2">
            <div class="lzpfupinpc1"></div>
            <p style="font:normal 18px/50px '微软雅黑'; position:absolute; top:70px; left:270px;  ">扶贫先扶智个人国家共发展</p>
            <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:130px; left:70px; text-indent:2em;  text-indent:2em; ">
        一、文化扶贫工程，有利于推动社会全面进步。由于文化扶贫工程不是单一地就文化抓文化，<br>
    而是把文化、教育、科学普及等与满足农民求知、求富、求乐的要求和发展农村经济紧密地结合起<br>
    来，这就不仅能使文化更好地为经济建设这个中心服务，而且能够使文化更好地与之同步协调发展。</p>
        </div>
	</div>    
	
    <div class="lzpfupin3">
    	<div class="lzpfupin4">
            <div class="lzpfupinpc2"></div>
            <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:100px; left:520px; text-indent:2em;  text-indent:2em; ">
         二、文化扶贫工程，有助于实现我国农业生产方向的调整。随着农村经济的发展，国家提<br>
    出了把农业发展的方向尽快转移到依靠科技进步和提高劳动者素质的轨道上来，努力建立社会<br>
    主义大农业，加强林业发展，加快渔业技术改造，开拓农村的第二产业和第三产业。</p>
        
        </div>
	</div>
    
    <div class="lzpfupin5">
    	<div class="lzpfupin6">
            <div class="lzpfupinpc3"></div>
            <p style="font:normal 14px/30px '微软雅黑'; position:absolute; top:100px; left:70px; text-indent:2em;  text-indent:2em; ">
 三、文化扶贫工程，有利于提高劳动生产率，促进经济的快速发展。随着时代的前进，市场经<br>
济的发展，文化与经济“一体化”的趋势在增强，文化功能负荷在增值。一方面是各种产品的文化<br>
含量、文化附加值越来越高，另一方面是文化不再是单一地满足人们的娱乐要求，而是要在更大范<br>
围内为经济发展提供精神动力和智力支持。</p>
        </div>
	</div>
    
    
    <div class="lzpfupintu">
    	<div class="lzpfupinzong">
            <div class="lzpfupintu1"></div>
            <div class="lzpfupintuheng"></div>
            <div class="lzpfupintu2"></div>
            <div class="lzpfupintuheng"></div>
            <div class="lzpfupintu3"></div>
            <div class="lzpfupintuheng"></div>
            <div class="lzpfupintu4"></div>
    	</div>
    
    </div>

<footer id="footer">

</footer>
</body>
</html>
