<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />


 <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script> </head>

<body>


<header id="header">

</header>
    <div class="lzpbanner4"></div>
    
    <div class="lzpjiaoyuxcz">
    <div class="lzpwenzibjz">
        <div class="lzpwenzibjz1">教育信息化</div>
        <div class="lzpwenzibjz2">EDUCATION&nbsp;&nbsp;INFORMATION</div>
        <div class="lzpwenzibjz3">
华录文化公司作为中国华录集团旗下专业从事文化产业及衍生业务运作的文化企业，始终立足<br>
自身发展优势，结合中国华录集团在信息产业与文化产业发展中的优质资源，发展成为集公共文化<br>
服务。</div>
<div class="lzpwenzibjz3">
华录文化从城域网网络、局教育网管中心、学校数字校园等多角度的信息化建设入手，提供了<br>
硬件建设、软件应用、后期运营等方面的解决方案，旨在满足老师、学生、家长、学校及管理者教<br>
学、教研、教育管理、教师培训等多方面的需求，帮助教育部门构建教育管理与资源共建共享的区<br>
域教育云平台。
</div>
<div class="lzpwenzibjz3">
华录文化教育学院作为旗下教育机构，同样具有完整的教育信息化系统，保证教师及学生在教<br>
学学习过程中的信息化需求。并在资源平台、管理平台等多方面信息化建设上不断探索改进，打造<br>
完整的教育云平台。
</div>

		<div class="lzpxinxihuapc"></div>
    </div>
    </div>



        <div class="lzpxinxihuadt"></div>

<footer id="footer">

</footer>

</body>
</html>
