<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../Public/home/js/jquery.touchSlider.js"></script>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />


<link href="../Public/home/texiao/texiao.css" rel="stylesheet" type="text/css" />
<script src="../Public/home/js/jquery.min.js"></script>
<script src="../Public/home/js/slider.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#slider').slider({ speed: 500 });
});            
</script>




</head>

<body>

    

<div class="footbj">
    	<div class="foot">
        	<ul class="gy">
            	<h3>关于我们</h3>
                <li><a href="/about/brand">品牌介绍</a></li>
                <li><a href="/about/vrEdu">VR教育</a></li>
                <li><a href="/about/advantages">发展优势</a></li>
                <li><a href="/about/history">成长历程</a></li>
                <li><a href="/about/cooperative">合作伙伴</a></li>
            </ul>
            <ul class="kc">
            	<h3>课程设置</h3>
                <li><a href="/course/unity">VR（Unity开发方向）</a></li>
                <li><a href="/course/ui">VR（UI设计方向）</a></li>
                <li><a href="/course/interiorDesign">VR（室内设计方向）</a></li>
                <li><a href="/course/web">VR（web前端方向）</a></li>
                <li><a href="/course/gameDummy">VR（游戏模型方向）</a></li>
                <li><a href="/course/building">VR（建筑展示方向）</a></li>
            </ul>
            <ul class="jy">
            	<h3>就业体系</h3>
                <li><a href="/employment/system">就业体系</a></li>
                <li ><a href="/employment/deliver">人才输出</a></li>
                <li ><a href="/employment/service">就业服务</a></li>
                <li ><a href="/employment/cooperate">人才合作</a></li>
                <li ><a href="/employment/star">就业明星</a></li>
            </ul>
            <ul class="xy">
            	<h3>学员服务</h3>
                <li ><a href="/notice/process">报名流程</a></li>
                <li ><a href="/notice/study">先学习后付款</a></li>
                <li ><a href="/notice/address">学院地址</a></li>
                <li ><a href="/notice/environment">校园环境</a></li>
            </ul>
            <ul class="gd">
            	<h3>高端教育</h3>
                <li ><a href="/train/cooperate">院校合作</a></li>
                <li ><a href="/train/customEnterprise">企业定制</a></li>
                <li><a href="/train/help">文化扶贫</a></li>
                <li ><a href="/train/information">教育信息化</a></li>
            </ul>
            <ul class="lx">
            	<h3>联系我们</h3>
                <li ><a href="/contact/information">课程咨询</a></li>
                <li ><a href="/contact/cooperation">合作洽谈</a></li>
            </ul>
        </div>
    </div>
    <div class="footxbj">
    	<div class="footxdz">学校地址：北京市石景山区阜石路165号院华录大厦12层</div>
        <div class="footxdz">咨询电话：010-52281613</div>
</div><!--尾部结束-->

         <a href="#small_div">
        	<div id="return_top">		       
        	</div>
        </a>
		
		<div id="small_div"></div>
        <a href="/contact/information">
			<div id="online"> 在线咨询 </div>
		</a>



</body>
</html>
