<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<!--<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>-->
<!--<script type="text/javascript" src="../Public/home/js/jquery.touchSlider.js"></script>-->
<!--<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />-->
<!--<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />-->
</head>

<!--<script src="../Public/home/js/slider.js" type="text/javascript"></script>-->
<script type="text/javascript">
//$(document).ready(function() {
//	$('#slider').slider({ speed: 500 });
//});
</script>






<body>
    <div class="head">
        <div class="logocr"></div>
        <div class="wenzicr">中国唯一文化央企的下属教育学院，教育培训的最高学府</div>
    </div>
    <div class="navcrmrcool">
    <div class="navcr">
        <ul class="navcr0">
            <li><a class="navhaha" href="/">首页</a></li>
            <li class="navcr1">关于我们
                <ul class="navcr2">
                    <li><a href="/about/brand">品牌介绍</a></li>
                    <li><a href="/about/vrEdu">VR教育</a></li>
                    <li><a href="/about/advantages">发展优势</a></li>
                    <li><a href="/about/history">成长历程</a></li>
                    <li><a href="/about/cooperative">合作伙伴</a></li>
                </ul>
            </li>
            
            
            <li class="navcr3">课程设置
                <ul class="navcr4">
                    <li style="width:200px; text-align:left; text-indent:26px;"><a href="/course/unity">VR(Unity开发方向)</a></li>
                    <li style="width:200px; text-align:left; text-indent:34px;"><a href="/course/ui">VR（UI设计方向）</a></li>
                    <li style="width:200px; text-align:left; text-indent:26px; "><a href="/course/interiorDesign">VR（室内设计方向）</a></li>
                    <li style="width:200px; text-align:left; text-indent:26px; display:none;"><a href="/course/web">VR（web前段方向）</a></li>
                    <li style="width:200px; text-align:left; text-indent:26px; display:none;"><a href="/course/gameDummy">VR（游戏模拟方向）</a></li>
                    <li style="width:200px; text-align:left; text-indent:26px; "><a href="/course/building">VR（建筑展示方向）</a></li>
                </ul>
            </li>
            <li class="navcr5">就业体系
                <ul class="navcr6">
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/employment/system">就业体系</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/employment/deliver">人才输出</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/employment/service">就业服务</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/employment/cooperate">人才合作</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/employment/star">就业明星</a></li>
                </ul>
            </li>
            <li class="navcr7">学员服务
                <ul class="navcr8">
                    <li style="width:200px; text-align:left; text-indent:24px;"><a href="/notice/process">报名流程</a></li>
                    <li style="width:200px; text-align:left; text-indent:10px;"><a href="/notice/study">先学习后付款</a></li>
                    <li style="width:200px; text-align:left; text-indent:24px;"><a href="/notice/address">学院地址</a></li>
                    <li style="width:200px; text-align:left; text-indent:24px;"><a href="/notice/environment">校园环境</a></li>
                </ul>
            </li>
            <li class="navcr9">高端教育
                <ul class="navcr10">
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/train/cooperate">院校合作</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/train/customEnterprise">企业定制</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/train/help">文化扶贫</a></li>
                    <li style="width:200px; text-align:left; text-indent:22px;"><a href="/train/information">教育信息化</a></li>
                </ul>
            </li>
            <li class="navcr11">联系我们
                <ul class="navcr12">
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/contact/information">课程咨询</a></li>
                    <li style="width:200px; text-align:left; text-indent:25px;"><a href="/contact/cooperation">合作洽谈</a></li>
                </ul>
            </li>
        </ul>
    </div><!--头部结束-->
</div>
</body>
</html>
