<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
    <link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
    <link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />
    <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>
</head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->




	<div class="ppbanner"></div>
    
    	 <div class="ljcds">
    	<div class="ljcdsmingzi"><div class="ljcdswenzi"><p>新闻-集团新闻</p></div></div>
        <div class="ljcdak">
           
            <div class="ljcdsziti6">{$news_info.tittle}</div>
            <div class="ljcdsziti7">{$news_info.content}<br>
<img src="../Public/home/images/lzpzixunpc.png"></div>
      
            <div class="ljcdsziti5"><a href="jianshezhong.html">>>返回<<</a></div>
        </div>        
    </div>







<footer id="footer">

</footer>
</body>
</html>
