<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>

<header id="header">

</header>
	<div class="zxybannr"></div>
    <div class="zxyzlhb">战略伙伴</div>
    <div class="zxynrd">
    	<ul>
        	<li class="zxyu1"></li>
            <li class="zxyu2"></li>
            <li class="zxyu3"></li>
            <li class="zxyu4"></li>
            <li class="zxyu5"></li>
        </ul>
        <ul>
        	<li class="zxyb1"></li>
            <li class="zxyb2"></li>
            <li class="zxyb3"></li>
            <li class="zxyb4"></li>
            <li class="zxyb5"></li>
        </ul>
        <ul>
        	<li class="zxyc1"></li>
            <li class="zxyc2"></li>
            <li class="zxyc3"></li>
            <li class="zxyc4"></li>
            <li class="zxyc5"></li>
        </ul>
        <ul>
        	<li class="zxrc1"></li>
            <li class="zxrc2"></li>
            <li class="zxrc3"></li>
            <li class="zxrc4"></li>
            <li class="zxrc5"></li>
        </ul>
        <ul>
        	<li class="zxro1"></li>
            <li class="zxro2"></li>
            <li class="zxro3"></li>
            <li class="zxro4"></li>
            <li class="zxro5"></li>
        </ul>
    </div>
    <div class="zxykofg"></div>


<footer id="footer">

</footer>

</body>
</html>
