<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>

<header id="header">

</header>
	<div class="zxybannr"></div>
    <div class="mrcoolbread">
            <div class="mrcoolbread1">人才合作<br></div>
            <div class="mrcoolbread2">Talent cooperation</div>
  	</div>
    <div class="rchzbk1">
    	<h3></h3>
        <div class="jyfwlanmu">华录教育作为中国最高的文化教育平台，有遍布全国的就业支持网，与众多大小企业均签订人才合作协议，定期内推、直荐部分优秀学员毕业后直接工作，做到学员、机构、公司三赢局面。</div>
    </div>
    <div class="zxynrd">
    	<ul>
        	<li class="zxyu1"></li>
            <li class="zxyu2"></li>
            <li class="zxyu3"></li>
            <li class="zxyu4"></li>
            <li class="zxyu5"></li>
        </ul>
        <ul>
        	<li class="zxyb1"></li>
            <li class="zxyb2"></li>
            <li class="zxyb3"></li>
            <li class="zxyb4"></li>
            <li class="zxyb5"></li>
        </ul>
        <ul>
        	<li class="zxyc1"></li>
            <li class="zxyc2"></li>
            <li class="zxyc3"></li>
            <li class="zxyc4"></li>
            <li class="zxyc5"></li>
        </ul>
        <ul>
        	<li class="zxrc1"></li>
            <li class="zxrc2"></li>
            <li class="zxrc3"></li>
            <li class="zxrc4"></li>
            <li class="zxrc5"></li>
        </ul>
        <ul>
        	<li class="zxro1"></li>
            <li class="zxro2"></li>
            <li class="zxro3"></li>
            <li class="zxro4"></li>
            <li class="zxro5"></li>
        </ul>
    </div>
    <div class="zxykofg"></div>


<footer id="footer">

</footer>

</body>
</html>
