<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>

<header id="header">

</header>


	<div class="zxyjfuwu62"></div>
    <div class="zxydnxovy">
    	<ul>
        	<h3>一、	就业推荐</h3>
        	<li>根据自身情况和行业需求制定每个人的学习课程项目、职业人生规划。</li>
            <li>1.	华录内部直荐：华录集团控股企业七十四家，上市公司两家，参股企业八家。具备大量的用人需求，优秀学员可内部直荐在华录工作。</li>
            <li>2.	合作企业内推：华录教育作为中国最高的文化教育平台，与众多大小企业均签订人才合作协议，定期内推、直荐部分优秀学员毕业后直接工作，做到学员、机构、公司三赢局面。</li>
            <li>3.	全国推荐就业：华录教育有遍布全国的就业支持网。可根据学生自身愿望需求，推荐合适地区；根据学院综合素质水准，推荐合适公司；根据学员技能水平评测，推荐合适岗位。</li>
        </ul>
        <ul>
        	<h3>二、	招聘会</h3>
        	<li>1.	专场招聘会：邀请大小企业走进华录教育，开设华录专场招聘会，与学员面对面现场招聘，使学员在校内足不出户即可参加。</li>
            <li>2.	大型人才招聘会：北京等地区定期开设大中型人才招聘会，提供大量多种岗位需求，准确满足求职与招聘需求。</li> </ul>
        <ul>
        	<h3>三、	创业扶持</h3>
            <li>在教育局的大力号召下，华录教育提供帮扶计划，资深技术专家亲临一对一指导创业。</li>
        </ul>
        <ul>
        	<h3>四、	就业跟踪</h3>
            <li>学员就业后。就业指导中心将不定期进行就业回访和记录，了解学员的工作情况，进行就业跟踪服务。以此建立强大的高级人才数据库，满足企业更高端的用人需求。
学员工作几年后，如果需要更大更广阔的职业空间，可以随时回华录教育咨询。就业指导中心将帮助学员推荐更好的就业机会。</li>
        </ul>
    </div>













<footer id="footer">

</footer>


</body>
</html>
