<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />
<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>

<header id="header">

</header>

	<div class="zxyjfuwu"></div>
    
    <div class="mrcoolbread">
            <div class="mrcoolbread1">就业服务<br></div>
            <div class="mrcoolbread2">Employment services</div>
  	</div>
    
    <div class="jyfwbk1">
    	<h3>职业规划</h3>
        <div class="jyfwlanmu">根据自身情况和行业需求制定每个人的学习课程项目、职业人生规划。</div>
    </div>
    
    <div class="jyfwbk2">
        <div class="jyfwbk201">
            	<h2>就业指导</h2>
                <h3>定期开设就业指导和模拟面试课程，为每位学生量身定制就业方案。</h3>

           <div class="jyfwbk201a"> <h4>就业心态</h4>开设专业的职场心理指导课，让毕业学生了解职场、做好心态转化，让转行人员调整心态、塑造信心。保证学生的面试状态，更重要的是能使学生在未来职场中应对自如，轻松工作。</div>

           <div class="jyfwbk201b"><h4>简历制作</h4>提供简历模板、指导简历个性化设计，让简历更加规范化、独特化，展示与众不同的你。合适的简历会为你的工作加分，我们不放过任何一个成功的可能性！</div>

           <div class="jyfwbk201c"><h4>面试技巧</h4>面试是你能够得到一份工作的关键。培训内容包括面试前的准备工作、面试当中应该注意的问题，以及如何在面试中推销自己等。</div>
           <div class="jyfwbk201d"><h4>整体方案</h4>了解每位学生的自身情况、学习进度，为学生量身定制最适合的就业方案。</div>
              
		</div>
	</div>
    
    <div class="jyfwbk3">
        <div class="jyfwbk301">
			<h2>职场资讯</h2>  	

           <div class="jyfwbk301a"> <h4>提供测试题库资源</h4>提供技术项目及职业素养测试题目，并提供答案参考作品，其中包括知名公司的Unity3D测试题、游戏模型测试题等大量高端公司应聘测试题。</div>

           <div class="jyfwbk301b"><h4>发布企业信息</h4>定期发布合作企业及相关企业的招聘信息、用人需求等企业信息，让学生有备而学，了解自身需要提高的技巧及项目，有助于打造就业型人才。</div>

           <div class="jyfwbk301c"><h4>走进企业</h4>就业指导中心还定期组织学员参观各大知名制作机构，接触制作公司的真实环境和工作氛围。</div>
          
              
		</div>
	</div>
    
    
    <div class="jyfwbk4">
        <div class="jyfwbk401">
			<h2>就业交流</h2>  	

           <div class="jyfwbk401a"> <h4>新老学员交流会</h4>定期邀请国内一线制作公司担任管理层的老学员回校进行分享，将更多工作经验、工作流程、行业动态与在校学员沟通、指导。</div>

           <div class="jyfwbk401b"><h4>专家指导点评</h4>定期派遣集团内经验丰富的技术人员和管理人员对学生作品、简历制作及精神状态进行指导点评，并传授面试技巧、就业知识等。</div>

           <div class="jyfwbk401c"><h4>企业入校宣讲</h4>为提升学员就业能力，定期邀请知名企业公司总裁、制作总监、项目经理、产品经理级别管理层人士到华录教育进行企业宣讲，帮助学员了解想要进入的公司，更可以近距离与企业进行沟通，自荐。</div>
          
              
		</div>
	</div>
    
    
  


<footer id="footer">

</footer>
</body>
</html>
