<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="__PUBLIC__/home/images/css.css" />
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script> </head>

<body>

<header id="header">

</header>

	<div class="zxyjfuwu"></div>
    <div class="zxydnxovy">
    	<ul>
        	<h3>一、	职业规划</h3>
        	<li>根据自身情况和行业需求制定每个人的学习课程项目、职业人生规划。</li>
        </ul>
        <ul>
        	<h3>二、	就业指导</h3>
        	<li>定期开设就业指导和模拟面试课程，为每位学生量身定制就业方案。</li>
            <li>1.	就业心态：开设专业的职场心理指导课，让毕业学生了解职场、做好心态转化，让转行人员调整心态、塑造信心。保证学生的面试状态，更重要的是能使学生在未来职场中应对自如，轻松工作。</li>
            <li>2.	简历制作：提供简历模板、指导简历个性化设计，让简历更加规范化、独特化，展示与众不同的你。合适的简历会为你的工作加分，我们不放过任何一个成功的可能性！</li>
            <li>3.	面试技巧：面试是你能够得到一份工作的关键。培训内容包括面试前的准备工作、面试当中应该注意的问题，以及如何在面试中推销自己等。</li>
            <li>4.	整体方案：了解每位学生的自身情况、学习进度，为学生量身定制最适合的就业方案。</li>
        </ul>
        <ul>
        	<h3>三、	职场资讯</h3>
            <li>1.	提供测试题库资源：提供技术项目及职业素养测试题目，并提供答案参考作品，其中包括知名公司的Unity3D测试题、游戏模型测试题等大量高端公司应聘测试题。</li>
            <li>2.	发布企业信息：定期发布合作企业及相关企业的招聘信息、用人需求等企业信息，让学生有备而学，了解自身需要提高的技巧及项目，有助于打造就业型人才。</li>
            <li>3.	走进企业：就业指导中心还定期组织学员参观各大知名制作机构，接触制作公司的真实环境和工作氛围。</li>
        </ul>
        <ul>
        	<h3>四、	就业交流</h3>
            <li>1.	新老学员交流会：定期邀请国内一线制作公司担任管理层的老学员回校进行分享，将更多工作经验、工作流程、行业动态与在校学员沟通、指导。</li>
            <li>2.	专家指导点评：定期派遣集团内经验丰富的技术人员和管理人员对学生作品、简历制作及精神状态进行指导点评，并传授面试技巧、就业知识等。</li>
            <li>3.	企业入校宣讲：为提升学员就业能力，定期邀请知名企业公司总裁、制作总监、项目经理、产品经理级别管理层人士到华录教育进行企业宣讲，帮助学员了解想要进入的公司，更可以近距离与企业进行沟通，自荐。</li>
        </ul>
    </div>














<footer id="footer">

</footer>
</body>
</html>
