<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  
<script>
		
	$(document).ready(function(){
			$(".bighs").click(function(){
				$(this).next(".hsbg").fadeIn(800);	
				$(".textbg3").css("opacity","1");//最外层的透明属性 决定弹出层是否停留在页面的最顶端			
			});	
			$(".close").click(function(){
				$(".hsbg").fadeOut(800);
		
			});	
		});	
						
	$(document).bind("click",function(e){
    	var target = $(e.target);
    	if(target.closest(".bighs").length == 0){
        $(".hsbg").fadeOut(800);
    }
	});//点击任意其他区域设置 关闭


	
	
</script>


</head>

<body>

<header id="header">

</header>

	<div class="mxxybanner1"></div>
    
    <div class="mrcoolbread">
            <div class="mrcoolbread1">明星学员<br></div>
            <div class="mrcoolbread2">Star student</div>
  	</div>
    
    <div id="mrcooluik8">
	<h2>我们的明星学员	</h2>
    <h3>点击学员照片查看详细情况及在校作品</h3>
    <div class="mrcoolk">	

        <section>
            <div class="uiclassstar bighs" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar01.jpg">
                           
                <p>大连九州智创<br>李瑞雪</p>                      
 			</div> 
            <div class="hsbg">
            	<div class="hsbgdw">
                    <h2>李瑞雪</h2>
                        <img style="max-width:180px;" src="../Public/home/images/uistar01.jpg" />
                    <h3>专　　业：计算机 <br />就职公司：大连九州智创 <br />薪资待遇：5K+ <br />学习心得：知识真的可以改变命运，这句话不是鸡汤，是你可以通过自己的努力得到的，如果你想，只要你能。</h3>
                    <h4>[代表作品]</h4>
                    
                    <div class="picshow1">
                        <div class="row1" data-scroll-reveal="enter bottom over 1s and move 100px"><img src="../Public/home/images/uiclass1.jpg"><img src="../Public/home/images/uiclass5.jpg"><img src="../Public/home/images/uiclass2.jpg"><img src="../Public/home/images/uiclass4.jpg"></div>
                        <div class="row2" data-scroll-reveal="enter right after 0.5s"><img src="../Public/home/images/uiclass7.jpg"><img src="../Public/home/images/uiclass6.jpg"><img src="../Public/home/images/uiclass3.jpg"><img src="../Public/home/images/uiclass8.jpg"></div>
                        <div class="row3"  data-scroll-reveal="enter top over 3s after 0.5s"><img src="../Public/home/images/uiclass9.jpg"><img src="../Public/home/images/uiclass10.jpg"><img src="../Public/home/images/uiclass11.jpg"><img src="../Public/home/images/uiclass12.jpg"></div>
                    </div>                  
                               
                    <div class="close"><a href="#"><img src="../Public/home/images/close.png" /></a></div>
                </div>
        	</div>
            
            <div class="uiclassstar bighs" data-scroll-reveal="enter right after 0.5s">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar02.jpg">
                           
                <p>卓新科技<br>卢新毅</p>
 			</div>
            
                        <div class="hsbg">
            	<div class="hsbgdw">
                    <h2>卢新毅</h2>
                        <img style="max-width:180px;" src="../Public/home/images/uistar02.jpg" />
                    <h3>专　　业：计算机 <br />就职公司：卓新科技 <br />薪资待遇：6K+ <br />学习心得：人生如航行，目标如舵，指引方向；努力如桨，勇往直前。</h3>
                    <h4>[代表作品]</h4>
                    
                    <div class="picshow1">
                        <div class="row1" data-scroll-reveal="enter bottom over 1s and move 100px"><img src="../Public/home/images/uiclass13.jpg"><img src="../Public/home/images/uiclass14.jpg"><img src="../Public/home/images/uiclass17.jpg"><img src="../Public/home/images/uiclass16.jpg"></div>
                        <div class="row2" data-scroll-reveal="enter right after 0.5s"><img src="../Public/home/images/uiclass15.jpg"><img src="../Public/home/images/uiclass18.jpg"><img src="../Public/home/images/uiclass19.jpg"><img src="../Public/home/images/uiclass20.jpg"></div>
                        <div class="row3"  data-scroll-reveal="enter top over 3s after 0.5s"><img src="../Public/home/images/uiclass21.jpg"><img src="../Public/home/images/uiclass22.jpg"><img src="../Public/home/images/uiclass23.jpg"><img src="../Public/home/images/uiclass24.jpg"></div>
                    </div>                  
                               
                    <div class="close"><a href="#"><img src="../Public/home/images/close.png" /></a></div>
                </div>
        	</div>
            

            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar03.jpg">
                           
                <p>信风海运<br>孙研</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar04.jpg">
                           
                <p>诺达科技<br>王可</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar05.jpg">
                           
                <p>信风海运<br>张晓惠</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar06.jpg">
                           
                <p>IBM<br>郑福一</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar07.jpg">
                           
                <p>百人科技<br>胡瑞</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar08.jpg">
                           
                <p>大连新锐天地<br>肖垚</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar09.jpg">
                           
                <p>北京中徽教育<br>李军</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar10.jpg">
                           
                <p>大连水晶石<br>焦彦喆</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar11.jpg">
                           
                <p>绿风科技<br>巴海燕</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar12.jpg">
                           
                <p>知了科技<br>张成义</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar13.jpg">
                           
                <p>微梦广告<br>丛博林</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar14.jpg">
                           
                <p>君德文化传媒<br>林雪峰 </p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar15.jpg">
                           
                <p>大连禾光科技<br>张亘</p>
 			</div>       
         </section>

     </div>
    
</div>
<div id="mrcooluik9">
	<div class="mrcoolk1">
    	<table>
        	<tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>薪资待遇</th>
                <th>工作地</th>
                <th>就职公司</th>
            </tr>
        	<tr data-scroll-reveal="enter left">
            	<td>郑福一</td>
                <td>男</td>
                <td>30</td>
                <td>本科</td>
                <td>8k+</td>
                <td>大连</td>
                <td>IBM</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>方达</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>新式软件</td>
            </tr>
            <tr data-scroll-reveal="enter top">
            	<td>刘津宁</td>
                <td>男</td>
                <td>28</td>
                <td>本科</td>
                <td>3k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter bottom over 1s and move 10px">
            	<td>孙建</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>杨慧超</td>
                <td>男</td>
                <td>29</td>
                <td>本科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>新视软件</td>
            </tr>
            <tr  data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>王志文</td>
                <td>男</td>
                <td>22</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>马也</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>通科虚拟仿真</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>乔治</td>
                <td>男</td>
                <td>24</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>尹禹</td>
                <td>女</td>
                <td>21</td>
                <td>本科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>卓越非凡</td>
            </tr>
            <tr  data-scroll-reveal="enter bottom over 1s and move 80px after 0.3s">
            	<td>张帅</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>中海高科船舶</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>周恬</td>
                <td>女</td>
                <td>22</td>
                <td>专科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>水晶石数字科技</td>
            </tr>
        </table>
    </div>
</div>


<footer id="footer">

</footer>


</body>
</html>
