<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script> </head>

<body>

<header id="header">

</header>

	<div></div>
	<div class="zxyujgmh"></div>
    <div class="zxyuufb">
    	<div>
        	<div class="zxyrenxiang">
            	<div class="zxyokd">
                	<div class="zxyming">王伟</div>
                    <div class="zxyming">北京水晶石UI设计师年薪200万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps"></div>
                </div>
            </div>
            <div class="zxyrenxiang1">
            	<div class="zxyokd1">
                	<div class="zxyming">刘家河</div>
                    <div class="zxyming">北京火星石石UI设计师年薪100万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps1"></div>
                </div>
            </div>
            <div class="zxyrenxiang2">
            	<div class="zxyokd2">
                	<div class="zxyming">陈铮</div>
                    <div class="zxyming">北京水晶石UI设计师年薪50万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps2"></div>
                </div>
            </div>
            <div class="zxyrenxiang3">
            	<div class="zxyokd3">
                	<div class="zxyming">王浩鹏</div>
                    <div class="zxyming">北京水晶石UI设计师年薪130万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps3"></div>
                </div>
            </div>
            <div class="zxyrenxiang4">
            	<div class="zxyokd4">
                	<div class="zxyming">刘杰</div>
                    <div class="zxyming">北京水晶石UI设计师年薪260万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps4"></div>
                </div>
            </div>
        </div>
        
        
        
        
        
        <div>
        	<div class="zxyrenxiang5">
            	<div class="zxyokd5">
                	<div class="zxyming">王贺梦</div>
                    <div class="zxyming">北京水晶石UI设计师年薪180万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps5"></div>
                </div>
            </div>
           <div class="zxyrenxiang6">
            	<div class="zxyokd6">
                	<div class="zxyming">陈晨</div>
                    <div class="zxyming">北京水晶石UI设计师年薪50万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps6"></div>
                </div>
            </div>
            <div class="zxyrenxiang7">
            	<div class="zxyokd7">
                	<div class="zxyming">沙雪松</div>
                    <div class="zxyming">北京水晶石UI设计师年薪170万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps7"></div>
                </div>
            </div>
            <div class="zxyrenxiang8">
            	<div class="zxyokd8">
                	<div class="zxyming">吴迪</div>
                    <div class="zxyming">北京水晶石UI设计师年薪140万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps8"></div>
                </div>
            </div>
            <div class="zxyrenxiang9">
            	<div class="zxyokd9">
                	<div class="zxyming">张紫怡</div>
                    <div class="zxyming">北京水晶石UI设计师年薪90万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps9"></div>
                </div>
            </div>
        </div>
        
        
        
        
        <div>
        	<div class="zxyrenxiang10">
            	<div class="zxyokd10">
                	<div class="zxyming">林春波</div>
                    <div class="zxyming">北京水晶石UI设计师年薪100万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps10"></div>
                </div>
            </div>
           <div class="zxyrenxiang11">
            	<div class="zxyokd11">
                	<div class="zxyming">聂明艳</div>
                    <div class="zxyming">北京水晶石UI设计师年薪140万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps11"></div>
                </div>
            </div>
            <div class="zxyrenxiang12">
            	<div class="zxyokd12">
                	<div class="zxyming">刘家冲</div>
                    <div class="zxyming">北京水晶石UI设计师年薪150万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps12"></div>
                </div>
            </div>
            <div class="zxyrenxiang13">
            	<div class="zxyokd13">
                	<div class="zxyming">胡一菲</div>
                    <div class="zxyming">北京水晶石UI设计师年薪130万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps13"></div>
                </div>
            </div>
            <div class="zxyrenxiang14">
            	<div class="zxyokd14">
                	<div class="zxyming">朱显耀</div>
                    <div class="zxyming">北京水晶石UI设计师年薪70万</div>
                    <div class="zxysmgc"></div>
                    <div class="zxyzuocpin">作品</div>
                    <div class="zxyobps14"></div>
                </div>
            </div>
        </div>
    </div>


<footer id="footer">

</footer>


</body>
</html>
