<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />
<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>

	<div class="jiuyepbanner1"></div>
		<div class="mrcoolbread">
            <div class="mrcoolbread1">就业体系<br></div>
            <div class="mrcoolbread2">Employment system</div>
  	</div>


	<div class="jiuyebk1">
    	<div class="zxyivj">
        	<div class="zxyivjnei">	
        华录教育建立了职业教育、就业服务一体化机制。拥有完善强大的就业体系，是 VR培训行业的示范标杆！凭借华录文化及华录集团在业界多年的行业经验、企业资源、网络人脉，为学生提供全方位职业解决方案、职业规划、职业教育、就业指导、就业推荐，成为行业优秀专业人才输出的坚固保障！
        	</div>
        </div>
        
        
	</div>   
 
    <div class="jiuyebk2">
        <div class="zxysxs">
            <div class="zxysxsnei">百分百保证就业：每位学员入学即可签订保就业保薪资协议，确保学生无后顾之忧，百分百高薪就业。
            </div><div class="zxysxsnei1">
全方位就业服务：从学员的职业规划、项目辅导、就业指导等全方位服务学生就业，并进行全程的就业跟踪，保证每位学生满意就业。
        </div><div class="zxysxsnei2">
 全国就业辐射网：华录教育就业关系网遍布全国，乃至全球，让学生可以在最心仪的地区最舒适的环境中安居就业。
</div><div class="zxysxsnei3">
          多渠道人才输出：企业内推、就业推荐、专场招聘会、大型招聘会等多种渠道进行人才输出、帮助就业。</div>
        </div>
	</div>

    <div class="jiuyebk3">
        <div class="zxyxujb">
            <div class="zxyxujblanmu">就业服务：</div>
                <div class="zxyxujbnei1">---职业规划---<br>
根据自身情况和行业需求制定每个人的职业人生规划</div>
                <div class="zxyxujbnei2">---就业指导---<br>
指导老师传授就业心态、简历制作、面试技巧，职业素养，并量身制定就业方案）</div>
               <div class="zxyxujbnei3">---职场资讯---<br>
提供测试题库资源、发布企业信息、走进企业微距观察等</div>
                <div class="zxyxujbnei4">---就业交流---<br>
新老学员交流会、专家指导、企业入校宣讲</div>
          
                
           
        </div>
 	</div>
	<div class="jiuyebk4">
    	<div class="jiuyetuijian">
        	<div class="jiuyetuijianlanmu">就业推荐</div>
        	<div class="jiuyetuijiannei">就业推荐（华录内部直推、合作企业内推、全国推荐就业） </div>
            <div class="jiuyetuijiannei1">招聘会（专场招聘会、大型招聘会）</div>
        	<div class="jiuyehuikuilanmu">就业回馈</div>
        	<div class="jiuyehuikuinei">就业跟踪服务 </div>
            <div class="jiuyehuikuinei1">免费重修机会</div>
        </div>
    
    
	</div>

    


<footer id="footer">

</footer>

</body>
</html>
