<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>

    <div class="kongbcr"></div><!--头部结束-->
   
    <div class="zwjbanner6"></div><!--banner-->
    <div class="mrcoolbread">
            <div class="mrcoolbread1">VR(建筑展示方向)<br></div>
            <div class="mrcoolbread2">VR Architectural display</div>
  	</div>
    
	<div id="mrcooljzk1">
	
		<div class="mrcoolk">
        
            
            <h2 data-scroll-reveal="wait 0.1s, then enter left and move 100px over .6s">华录文化教育VR+建筑可视化专业课程</h2>
            <h2 data-scroll-reveal="wait 0.2s, then enter right and move 100px over .6s">集理论、技能、经验、实战与一体</h2>
            <h3 data-scroll-reveal="wait 0.3s, then enter top and move 120px over .6s">VR+建筑可视化实时、交互、动态、主动主流的技术，高价值的产品</h3>
            <h2 data-scroll-reveal="wait 0.4s, then enter bottom and move 80px over .6s">融合VR虚拟现实技术应用</h2>
            <h2 data-scroll-reveal="wait 0.1s, then enter right and move 100px over .6s">助你成为建筑可视化专家，呈现梦想中的建筑蓝图！</h2>
            
			<div class="mrcooljzdw1"> 
                <section data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s">
                    <h4>传统建筑展示单调局限 </h4>
                    <p>在建筑行业中，传统设计方案一般通过平面图、效果图、演示三维动画，以及沙盘展示等进行成果汇报，传统的展示方案只是从平面视觉效果和三维立体对设计方案进行外观展示。</p>            
                </section>
                <section data-scroll-reveal="enter left move 40px over 2s after 0.3s">
                    <h4>VR成功解决设计痛点</h4>
                    <p>VR技术可以把图纸上的建筑规划变成有空间感的模型，提供给用户更为真实的空间尺寸、场景位置、地理信息等体验。虚拟现实系统对建筑空间的描述是实时的、交互的、动态的、主动的，完全不同于以往的设计媒体。</p> 
                </section>
                <section data-scroll-reveal="enter right move 40px over 2s after 0.6s">
                    <h4>虚拟现实市场前景无限 </h4>
                    <p>VR就像是60年前的电视机、20年前的互联网，是一项技术突破。不仅仅是建筑展示，它将会改变多领域：电影、电视、游戏，广告、营销、工业设计、医药和社交网络等均会受到强烈影响。</p> 
                </section>
			</div>
		</div>
	</div>
    
    
	<div id="mrcooljzk3">

		<div class="mrcoolk">
            <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
                <h2 data-scroll-reveal="enter top over 3s after 0.5s">虚拟现实建筑展示，引领可视化新潮流！
    <br>复合型建筑表现人才，勇创行业"薪"高度！</h2>
                <div class="mrcooljzdw2"  data-scroll-reveal="enter top over 1.3s and move 200px after 0.5s">
                    <img class="mrcooljzdw2pic1" src="../Public/home/images/mrcooljz3pic1.jpg" />  <img class="mrcooljzdw2pic2" src="../Public/home/images/mrcooljz3pic2.jpg" />
                    <p>●<strong>行业发展前景如何?</strong><br>
                  建筑展示广泛应用到众多领域：如房产行业、建筑投标、城市规划、古建筑复原、游戏、影视场景等。
    使这个行业人才需求旺盛，专业的优秀人才更是“身价千金”。随着各种VR技术的爆发，建其商业价值也越来越高。<br><br>
     
                                                                   ●就业和晋升空间怎样?<br> 
                  工作环境好、薪资待遇高，年薪一般是几万到几十万不等。一名合格的建筑展示人才可在相关行业中
                                胜任室内外建筑模型师、渲染师、后期师、动画师，还能在公司担任项目经理等职务。</p> 
                </div>
            </section>
            
            <section data-scroll-reveal="enter right over 1s and move 300px after 0.5s">
                <h3 data-scroll-reveal="enter bottom over 1s and move 100px">VR技术革命全面开启，建筑可视化VR课程震撼来袭
    我们只为培养真正具备创造能力和专业技术的建筑可视化设计师！</h3> 
                <p><img style="vertical-align:text-top;float:left;" src="../Public/home/images/mrcooljz3pic41.png"><br>
    从百度招聘搜取信息显示，建筑表现类专业人才全国单日需求量在70000人左右。而其中80以上的岗位薪资都在6000以上，他们分布在建筑、广告、影视、动漫等多个行业！</p>              
                <div class="mrcooljzdw2pic3" data-scroll-reveal="enter bottom over 2s and move 200px"><img src="../Public/home/images/mrcooljz3pic3.jpg" /></div>  
                <img data-scroll-reveal="enter left over 1s and move 200px" src="../Public/home/images/mrcooljz3pic4.png" />
                <h4 data-scroll-reveal="enter top over 3s and move 100px">无论是一线城市的北（京）上（海）广（州）深（圳），还是二线城市，学建筑表现都能令
    某得一份好的职业，并有一个好的发展前景，最终拥有一份高于一般职业的显著高新。以建筑动画岗位为例，截止目前为止此岗位的平均工资。</h4>                     
            </section>
        
		</div>
	</div>
    
    
    
	<div id="mrcooluik6">
        <h2 data-scroll-reveal="enter top">华录文化强势加入VR教育</h2>
        <h3 data-scroll-reveal="enter left">五宗“最”给你最强承诺！</h3>
        <div class="mrcoolk">	
             <div class="mrcoolkright">
                <section data-scroll-reveal="enter top">
                    <h4>最高等的教育平台：</h4>            
                    <p><b>华录教育作为中国唯一的文化央企</b>，是教育培训的最高平台，能给予学生最完善的学习体验和最广阔的发展空间。</p>           
                </section>
                <section data-scroll-reveal="enter right over 1s after 0.5s and move 100px">
                    <h4>最热门的培训课程：</h4>            
                    <p><b>华录教育设置的所有课程均围绕VR的内容应用</b>，是目前最热门行业，我们承诺只开设100%就业的
    高薪职业课程。</p>           
                </section>
                <section data-scroll-reveal="enter left over 0.5s and move 100px">
                    <h4>最完备的教学体系：</h4>            
                    <p><b>资深IT教育团队与华录文化建设团队强强联合</b>，共同打造HIACS教学体系，把传道、授业、解惑做
    到极致。</p>           
                </section>
                <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
                    <h4>最强大的项目支持：</h4>            
                    <p><b>华录集团控股企业七十四家</b>，上市公司两家参股企业八家。拥有大量的项目资源支持，保证学生的
    学习实训。</p>           
                </section>
                <section data-scroll-reveal="enter right over 1s and move 300px after 0.3s">
                    <h4>最可靠的就业保障：</h4>            
                    <p><b>华录教育拥有完备的就业服务体系</b>、遍布全国的就业支持网络、华录内部及合作企业的人才交流，
    入学即签订保就业保薪资协议，保证学生100%高薪就业。</p>           
                </section>
                
                
            </div>	
		</div>
	</div>
    
    
    
    
    <div id="mrcooljzk4">
        <h2 data-scroll-reveal="enter top over 2s after 0.5s">华录教育VR+建筑展示课程 将引领你实现梦想：<br />　
定义世界高度，筑建城市未来，做建筑界的王者！　　　　</h2>  
         <div class="mrcoolk">
            <section data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <h3>华录文化教育针对VR+建筑展示员制定的学习课程，
<br>
让学生从浅入深地学习相关的知识和技能，经历每个阶段之间环环相扣的磨练后，
<br>
必将成为独挡一面的建筑可视化大师！</h3>
            </section>
        </div>

    
	</div>
    
    
    <div id="mrcooljzk5">
	
		<div class="mrcoolk">
            <section data-scroll-reveal="enter bottom over 1s and move 100px after 0.3s">
                <h2 data-scroll-reveal="enter top over 2s after 0.5s">第一阶段：3ds MAX模型阶段
    <br />
    第二阶段：3ds MAX高级模型阶段
    <br />第三阶段：3ds MAX/VRay室内渲+VR技术应用
    <br />第四阶段：3ds MAX/VRay室外渲+VR技术应用
    <br />第五阶段：班级团队产品项目
        </h2>  
            </section>
		</div>

    
	</div>

  
    
    
    
   
<div id="mrcooluik5">
		<h2 data-scroll-reveal="enter top over 0.5s and move 200px">二十周的强化训练<br>
你将成为VR-建筑展示 标准化专家</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px">√CAD　√3ds MAX　√VRay室内渲　√VRay室外渲　√VR技术</h3>
    <h4 data-scroll-reveal="enter right after 0.5s">学生二阶段的案例</h4>
    

	 <div class="mrcoolkpic">
        <div class="picshow">
            <div class="row1" data-scroll-reveal="enter bottom over 1s and move 100px"><img src="../Public/home/images/jzclass1.jpg"><img src="../Public/home/images/jzclass2.jpg"><img src="../Public/home/images/jzclass3.jpg"><img src="../Public/home/images/jzclass4.jpg"></div>
            <div class="row2" data-scroll-reveal="enter right after 0.5s"><img src="../Public/home/images/jzclass5.jpg"><img src="../Public/home/images/jzclass6.jpg"><img src="../Public/home/images/jzclass8.jpg"></div>
            <div class="row3"  data-scroll-reveal="enter top over 3s after 0.5s"><img src="../Public/home/images/jzclass7.jpg"><img src="../Public/home/images/jzclass9.jpg"></div>
		</div>
     </div>
    	
</div>





<!--

-->
<div id="mrcooluik7">
	<h2 data-scroll-reveal="enter left">我们的黄埔教官</h2>
    <h3 data-scroll-reveal="enter top">我们严格 我们专业 只为打造VR建筑展示领域标准化的你</h3>
    <div class="mrcoolk">
        <div class="uitec1">
            <img src="../Public/home/images/jztec1.png">
        </div>
        <div class="uitec2">
            <img src="../Public/home/images/jztec2.png">
        </div>
        <div class="uitec3">
            <img src="../Public/home/images/jztec3.png">
        </div>
        <div class="uitec4">
            <img src="../Public/home/images/jztec4.png">
        </div>
	</div>
</div>
<div id="mrcooluik8">
	<h2>我们的明星学员	</h2>
    <h3>你所知道的知名互联网公司华录教育都有人，这里，给你最无限的职业未来</h3>
    <div class="mrcoolk">	

        <section>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar01.jpg">
                           
                <p>大连九州智创<br>李瑞雪</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter right after 0.5s">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar02.jpg">
                           
                <p>卓新科技<br>卢新毅</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar03.jpg">
                           
                <p>信风海运<br>孙研</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar04.jpg">
                           
                <p>诺达科技<br>王可</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar05.jpg">
                           
                <p>信风海运<br>张晓惠</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar06.jpg">
                           
                <p>IBM<br>郑福一</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar07.jpg">
                           
                <p>百人科技<br>胡瑞</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar08.jpg">
                           
                <p>大连新锐天地<br>肖垚</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar09.jpg">
                           
                <p>北京中徽教育<br>李军</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar10.jpg">
                           
                <p>大连水晶石<br>焦彦喆</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar11.jpg">
                           
                <p>绿风科技<br>巴海燕</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar12.jpg">
                           
                <p>知了科技<br>张成义</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar13.jpg">
                           
                <p>微梦广告<br>丛博林</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar14.jpg">
                           
                <p>君德文化传媒<br>林雪峰 </p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar15.jpg">
                           
                <p>大连禾光科技<br>张亘</p>
 			</div>       
         </section>

     </div>
    
</div>
<div id="mrcooluik9">
	<div class="mrcoolk1">
    	<table>
        	<tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>薪资待遇</th>
                <th>工作地</th>
                <th>就职公司</th>
            </tr>
        	<tr data-scroll-reveal="enter left">
            	<td>郑福一</td>
                <td>男</td>
                <td>30</td>
                <td>本科</td>
                <td>8k+</td>
                <td>大连</td>
                <td>IBM</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>方达</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>新式软件</td>
            </tr>
            <tr data-scroll-reveal="enter top">
            	<td>刘津宁</td>
                <td>男</td>
                <td>28</td>
                <td>本科</td>
                <td>3k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter bottom over 1s and move 10px">
            	<td>孙建</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>杨慧超</td>
                <td>男</td>
                <td>29</td>
                <td>本科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>新视软件</td>
            </tr>
            <tr  data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>王志文</td>
                <td>男</td>
                <td>22</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>马也</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>通科虚拟仿真</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>乔治</td>
                <td>男</td>
                <td>24</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>尹禹</td>
                <td>女</td>
                <td>21</td>
                <td>本科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>卓越非凡</td>
            </tr>
            <tr  data-scroll-reveal="enter bottom over 1s and move 80px after 0.3s">
            	<td>张帅</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>中海高科船舶</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>周恬</td>
                <td>女</td>
                <td>22</td>
                <td>专科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>水晶石数字科技</td>
            </tr>
        </table>
    </div>
</div>
<div id="mrcooluik10">
	<h2  data-scroll-reveal="enter left over 1s and move 300px after 0.3s">华录教育企业联盟</h2>
    <h3  data-scroll-reveal="enter right over 1s and move 300px after 0.3s">他们，给你最稳妥的就业保障</h3>	
</div>
<div id="mrcooluik11">
	<h2 data-scroll-reveal="enter left over 1s after 0.5s">教学环境</h2>
    <h3 data-scroll-reveal="enter right">这里，给你最舒适的环境保障</h3>	
</div>
<div id="mrcooluik12">
	<div class="mrcoolk">
    	<div class="uienter" data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s"><a href="/contact/information"><img src="../Public/home/images/mrcooluian.png"></a></div>
    </div>
</div>
 
    

<script src="../Public/home/js/scrollReveal.js"></script> 
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
		window.scrollReveal = new scrollReveal({reset: true});
	})();
};
</script>










<footer id="footer">

</footer>
    
    

    
</body>
</html>
