<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images/css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>

    
	<div class="banner3jj"></div>
    <div class="mrcoolbread">
            <div class="mrcoolbread1">VR(室内设计方向)<br></div>
            <div class="mrcoolbread2">VR Interior design direction</div>
  	</div>
    
    
    
    
     <div id="mrcoolsnk2">
     
     <div class="toubu1jj">硬装设计必不可少，软装行业势不可挡，全案设计师成为必要发展方向。</div>
        <div class="guannian1jj">
        	<div class="zhongjian1jj">随着市场专业化、服务化、系统化的发展，装修设计不仅为业主提供应硬装的装修方案，<br>并且还同时为装修业主提供选材和软装设计等全案设计服务模式，全案设计师也成为室内设计师的必然发展方向。</div>
        </div>
	
    <div class="mrcoolk">
                   
       <div class="mrcoolsndw1"> 
        <section data-scroll-reveal="enter from the top after 0.3s, move 90px, over 2s">
            <h4>硬装设计：传统的室内设计主要为硬装设计</h4>
            <p>即天花板墙面地面的处理，以及分割空间的实体、半实体等内部界面的处理。<br>硬装设计无论何时都是装修装饰行业必不可少的一环。</p>            
        </section>
        <section data-scroll-reveal="enter left move 80px over 2s after 0.6s">
            <h4>软装设计：新兴的软装配饰设计</h4>
            <p>涵盖我们所知的软装饰、后期配饰、家居店面陈列设计。元素主要有家具、饰品、灯饰、布艺织物、花艺及绿化造景等。<br>随着 “ 轻装修重装饰” 的理念愈发被广大装修消费者所认同，<br>软装在家装中所占比例也越来越大,也越来越受到人们的重视。

</p> 
        </section>
        <section data-scroll-reveal="enter right move 40px over 2s after 0.6s">
            <h4>全案设计：主题确立＋硬装设计＋软装搭配＋工程把控</h4>
            <p>全案设计师是目前设计师必要职业发展方向，可以实现软硬装同步的规划设计和落地执行，不但打造美丽清新的室内环境，更能营造温馨舒适的生活场景。

</p> 
        </section>
        </div>
	</div>
</div>
    
    <!-- 全案设计观念 -->
    
    <div id="mrcoolsnk3">

	 <div class="mrcoolk">
     	<div class="mrcoolsndw1">
        <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
            <h2 data-scroll-reveal="enter top over 3s after 0.5s">五大行业前景 保您前钱途无忧<br>
<b>室内设计是一个备受关注的职业，装饰装修行业的迅猛发展，对于专业设计人员和专业技术人员的需求量也在逐年增加，而被媒体誉为“金色灰领职业”之一。</b></h2>
            <p data-scroll-reveal="enter left over 1s and move 200px">
            
            1.就业机会众多，选择余地大：房地产和建筑装饰行业的高速发展，<br>我国现有室内设计专业人员20多万，但人才缺口达50万。<br>
2.入行门槛比较低，能力更重于学历：设计行业的诸多岗位胜任的<br>需求并不取决于学历高低，而在于实际能力的体现。<br>
3.收入水平比较高，属中上收入阶层：设计师收入来源丰富，薪资<br>结构是“底薪+业务提成+设计提成”，年薪十万元并不遥远。<br>
4.发展空间广阔，就业机制灵活：关联行业均可就业，便于兼职和创<br>业。整体来说，室内设计属于朝阳产业。<br>
5.零基础入门快，专业特长突出：从零基础到具备美术素养、理论基<br>础、手绘及电脑表现技法，项目实训等技能只需数月。</p>
        </section>
        
        <section data-scroll-reveal="enter right over 1s and move 300px after 0.3s">
            <h2 data-scroll-reveal="enter bottom over 1s and move 100px">华录教育
<br>
<b>零基础到高端室内设计师 筑就精英梦</b>
</h2> 
            <p data-scroll-reveal="enter bottom over 2s and move 200px">华录教育室内设计班是一个高端就业班，入学签订保就业保薪资协议。
                 <br>课程学习包含家居硬装软装设计、商业硬装软装设计、建筑装饰设计等
         <br>高端就业方向对室内设计就业方向有了更高升级，从而保障学生就业薪资及发展。
<br>课程包括手绘、3D MAX应用、CAD应用、高级模型、高级渲染、 手绘设计，施工材料预算等。

                                      <br>1.室内全案设计课程培训标杆 
                                   <br> 2.课程全面、案例教学、实战性强 
                                    <br>3.强大的师资内容，全部来自一线 
                                <br>4.高端室内设计定位，时尚前沿的设计理念</p>              
                   
        </section>
        </div>
        
	</div>
</div>
    
    
  <div id="mrcooluik6">
	<h2 data-scroll-reveal="enter top">华录文化强势加入VR教育</h2>
    <h3 data-scroll-reveal="enter left">五宗“最”给你最强承诺！</h3>
	<div class="mrcoolk">	
         <div class="mrcoolkright">
            <section data-scroll-reveal="enter top">
                <h4>最高等的教育平台：</h4>            
                <p><b>华录教育作为中国唯一的文化央企</b>，是教育培训的最高平台，能给予学生最完善的学习体验和最广阔的发展空间。</p>           
            </section>
            <section data-scroll-reveal="enter right over 1s after 0.5s and move 100px">
                <h4>最热门的培训课程：</h4>            
                <p><b>华录教育设置的所有课程均围绕VR的内容应用</b>，是目前最热门行业，我们承诺只开设100%就业的
高薪职业课程。</p>           
            </section>
            <section data-scroll-reveal="enter left over 0.5s and move 100px">
                <h4>最完备的教学体系：</h4>            
                <p><b>资深IT教育团队与华录文化建设团队强强联合</b>，共同打造HIACS教学体系，把传道、授业、解惑做
到极致。</p>           
            </section>
            <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
                <h4>最强大的项目支持：</h4>            
                <p><b>华录集团控股企业七十四家</b>，上市公司两家参股企业八家。拥有大量的项目资源支持，保证学生的
学习实训。</p>           
            </section>
            <section data-scroll-reveal="enter right over 1s and move 300px after 0.3s">
                <h4>最可靠的就业保障：</h4>            
                <p><b>华录教育拥有完备的就业服务体系</b>、遍布全国的就业支持网络、华录内部及合作企业的人才交流，
入学即签订保就业保薪资协议，保证学生100%高薪就业。</p>           
            </section>
            
            
        </div>	
	</div>
</div>
    






<div id="mrcoolsnk4">
	<h2 data-scroll-reveal="enter top over 1s after 0.5s">室内设计课程及大纲</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px">20周，VR+室内设计课程
<br />
深入、前沿、高端、全面
<br />
全力打造室内全案设计课程培训标杆！
</h3>

	 <div class="mrcoolk">
     	<div class="mrcoolsndw1">
        <section data-scroll-reveal="enter right over 0.5s and move 300px after 0.3s">
            <h4>第一阶段基础</h4>
            <p>●素描、速写、色彩、透视--手绘速成训练，
PS、Vray、3dsMAX、AutoCAD、Unity--5大经典软件，
<br />
●深固根基，筑就更高平台。           
            </p>                       
        </section>
        <section data-scroll-reveal="enter left over 0.5s and move 300px after 0.3s">
            <h4>第二阶段深化</h4>
            <p>
            	●标准化硬装最优势课程，
深化CAD设计--满足更专业的工作需求，
<br />
●极致而深入，成就高端室内设计师。       
            </p>                       
        </section>
        <section data-scroll-reveal="enter right over 0.5s and move 300px after 0.3s">
            <h4>第三阶段技能</h4>
            <p>
            	●空间表现、颜色搭配、装饰材料、施工工艺、材料预算、家居风水等，
<br />
●全面而经典的家装技能，提升学员的专业素养，满足客户的更多需求。 
            </p>                      
        </section>
        <section data-scroll-reveal="enter left over 0.5s and move 300px after 0.3s">
            <h4>第四阶段理念</h4>
            <p>
            	●室内设计理念、个性化软装设计理念、美学理念等设计理念赋予了作品文化内涵和风格特点，打造个性化专业化高品味的设计作品。
            </p>                   
        </section> 
        <section data-scroll-reveal="enter right over 0.5s and move 300px after 0.3s">
            <h4>第五阶段展示</h4>
            <p>
            	●CAD平面图的传统表现，深化施工图的专业展示，3D效果图的完美呈现，VR互动展示的前沿技术。
<br />
●一应俱会全面掌握，我们只培养高薪全能设计师。
            </p>                   
        </section> 
        <section data-scroll-reveal="enter left over 0.5s and move 300px after 0.3s">
            <h4>第六阶段方案</h4>
            <p>
●学习施工中各项环节衔接与搭配，掌握全流程的制作方案
<br />
●使学员成为一站式家居服务的全案设计师
            </p>                   
        </section> 
        <section data-scroll-reveal="enter bottom over 0.5s and move 300px after 0.3s">
            <h4>第七阶段实训</h4>
            <p>
            	●亲临一线工地，全程案例教学，实训阶段完成真实项目
<br />
●全方位一体化项目实战教学，实现学习到就业的无缝连接。
            </p>                   
        </section>   
        </div>
         
        
	</div>
</div>


    
    
    
   

 
    
   
<div id="mrcooluik5">
		<h2 data-scroll-reveal="enter top over 0.5s and move 200px">二十周的强化训练
<br>
你将成为VR-室内设计 标准化专家</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px">√AutoCAD　√Unity　√VR技术　√3dsMAX　√Vray　√个性化软装设计　√美学理念设计  </h3>
    <h4 data-scroll-reveal="enter right after 0.5s">学生四阶段的案例</h4>
    

	 <div class="mrcoolkpic">
        <div class="picshow">
            <div class="row1" data-scroll-reveal="enter left over 0.5s and move 300px after 0.3s"><img src="../Public/home/images/snclass1.jpg"><img src="../Public/home/images/snclass2.jpg"><img src="../Public/home/images/snclass3.jpg"><img src="../Public/home/images/snclass4.jpg"></div>
            <div class="row2" data-scroll-reveal="enter bottom over 0.5s and move 300px after 0.3s "><img src="../Public/home/images/snclass5.jpg"><img src="../Public/home/images/snclass6.jpg"><img src="../Public/home/images/snclass8.jpg"></div>
            <div class="row3"  data-scroll-reveal="enter right over 0.5s and move 300px after 0.3s"><img src="../Public/home/images/snclass7.jpg"><img src="../Public/home/images/snclass9.jpg"></div>
		</div>
     </div>
    	
</div>





<!--

-->
<div id="mrcooluik7">
	<h2 data-scroll-reveal="enter left">我们的黄埔教官</h2>
    <h3 data-scroll-reveal="enter top">我们严格 我们专业 只为打造VR室内设计领域标准化的你</h3>
    <div class="mrcoolk">
        <div class="uitec1">
            <img src="../Public/home/images/jztec1.png">
        </div>
        <div class="uitec2">
            <img src="../Public/home/images/jztec2.png">
        </div>
        <div class="uitec3">
            <img src="../Public/home/images/jztec3.png">
        </div>
        <div class="uitec4">
            <img src="../Public/home/images/jztec4.png">
        </div>
	</div>
</div>
<div id="mrcooluik8">
	<h2>我们的明星学员	</h2>
    <h3>你所知道的知名互联网公司华录教育都有人，这里，给你最无限的职业未来</h3>
    <div class="mrcoolk">	

        <section>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar01.jpg">
                           
                <p>大连九州智创<br>李瑞雪</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter right after 0.5s">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar02.jpg">
                           
                <p>卓新科技<br>卢新毅</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar03.jpg">
                           
                <p>信风海运<br>孙研</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar04.jpg">
                           
                <p>诺达科技<br>王可</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar05.jpg">
                           
                <p>信风海运<br>张晓惠</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar06.jpg">
                           
                <p>IBM<br>郑福一</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar07.jpg">
                           
                <p>百人科技<br>胡瑞</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar08.jpg">
                           
                <p>大连新锐天地<br>肖垚</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar09.jpg">
                           
                <p>北京中徽教育<br>李军</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar10.jpg">
                           
                <p>大连水晶石<br>焦彦喆</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar11.jpg">
                           
                <p>绿风科技<br>巴海燕</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar12.jpg">
                           
                <p>知了科技<br>张成义</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar13.jpg">
                           
                <p>微梦广告<br>丛博林</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar14.jpg">
                           
                <p>君德文化传媒<br>林雪峰 </p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar15.jpg">
                           
                <p>大连禾光科技<br>张亘</p>
 			</div>       
         </section>

     </div>
    
</div>
<div id="mrcooluik9">
	<div class="mrcoolk1">
    	<table>
        	<tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>薪资待遇</th>
                <th>工作地</th>
                <th>就职公司</th>
            </tr>
        	<tr data-scroll-reveal="enter left">
            	<td>郑福一</td>
                <td>男</td>
                <td>30</td>
                <td>本科</td>
                <td>8k+</td>
                <td>大连</td>
                <td>IBM</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>方达</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>新式软件</td>
            </tr>
            <tr data-scroll-reveal="enter top">
            	<td>刘津宁</td>
                <td>男</td>
                <td>28</td>
                <td>本科</td>
                <td>3k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter bottom over 1s and move 10px">
            	<td>孙建</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>杨慧超</td>
                <td>男</td>
                <td>29</td>
                <td>本科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>新视软件</td>
            </tr>
            <tr  data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>王志文</td>
                <td>男</td>
                <td>22</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>马也</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>通科虚拟仿真</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>乔治</td>
                <td>男</td>
                <td>24</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>尹禹</td>
                <td>女</td>
                <td>21</td>
                <td>本科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>卓越非凡</td>
            </tr>
            <tr  data-scroll-reveal="enter bottom over 1s and move 80px after 0.3s">
            	<td>张帅</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>中海高科船舶</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>周恬</td>
                <td>女</td>
                <td>22</td>
                <td>专科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>水晶石数字科技</td>
            </tr>
        </table>
    </div>
</div>
<div id="mrcooluik10">
	<h2  data-scroll-reveal="enter left over 1s and move 300px after 0.3s">华录教育企业联盟</h2>
    <h3  data-scroll-reveal="enter right over 1s and move 300px after 0.3s">他们，给你最稳妥的就业保障</h3>	
</div>
<div id="mrcooluik11">
	<h2 data-scroll-reveal="enter left over 1s after 0.5s">教学环境</h2>
    <h3 data-scroll-reveal="enter right">这里，给你最舒适的环境保障</h3>	
</div>
<div id="mrcooluik12">
	<div class="mrcoolk">
    	<div class="uienter" data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s"><a href="/contact/information"><img src="../Public/home/images/mrcooluian.png"></a></div>
    </div>
</div>
 
    

<script src="../Public/home/js/scrollReveal.js"></script> 
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
		window.scrollReveal = new scrollReveal({reset: true});
	})();
};
</script>










<footer id="footer">

</footer>

</body>
</html>
