<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images//reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images//css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>
<div class="lzpbanner7"></div>
		<div class="mrcoolbread">
            <div class="mrcoolbread1">VR(UI设计方向)<br></div>
            <div class="mrcoolbread2">VR UI Design</div>
  		</div>
	
    <div class="lzpkcwenzi1">VR与UI关系<br></div>
	<div class="lzpkcbj1">
        <div class="lzpkcwenzi">
            <div class="lzpkcwenzi3"><strong style="font-size:18px; line-height:60px;">21世纪，移动互联网的时代，UI的大时代</strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着科技的发展，21世纪变成了一个移动互联网无处不在的时代。而产品设计由物质设<br>
计向非物质设计转变已经开始，而且必将成为未来产品设计的主流，一个UI大时代正在进行中。<br>
            </div>
            <div class="lzpkcpc1"></div>
        </div>
    </div>    

    <div class="lzpkcbj1x">
        <div class="lzpkcwenzix">
            <div class="lzpkcwenzi3x"><strong style="font-size:18px; line-height:60px;">VR爆发元年开启，群雄争锋热度持续</strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着科技的发展，21世纪变成了一个移动互联网无处不在的时代。而产品设计由物<br>
质设2015年VR发展风起云涌，2016年VR爆发元年开启，虚拟现实技术被视为当前全球<br>
科技界公认的一大“风口”。 如今，VR技术逐渐成熟并得到大众市场的认可，将迎来大<br>
规模的商业化应用。<br>
            </div>
            <div class="lzpkcpc1x"></div>
        </div>
    </div>    
    	
    	<div class="lzpkcbj1xx">
        <div class="lzpkcwenzixx">
            <div class="lzpkcwenzi3xx"><strong style="font-size:18px; line-height:60px;">VR+UI课程，保你走在最前沿，立于不败地</strong><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VR为UI设计提供了新的机遇和广阔的发展平台，而UI设计对VR而言是必不可少的一部<br>
分。所有的VR应用都离不了VR界面设计师，即UI设计师。VR（UI设计）课程涵盖UI设计的<br>
全部内容，并融入VR界面设计的相关技术，让你在飞速发展的软件行业中走在最前沿，立于<br>
不败地。<br>
            </div>
            <div class="lzpkcpc1xx"></div>
        </div> 
</div>
	
     <div class="lzpkcwenzi1" style="margin-top:20px; color:#fff;">什么是UI设计</div>
     <div class="lzpkcpc4"></div>
     <div class="lzpkcpc1xxx">
        UI，即User Interface（用户界面）的简称。通俗地讲，就是“软件的衣服”。UI设计，则是指对软件的人机交互、操作逻辑、界面美观的整体设计。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UI设计主要涵盖平面、网页、游戏、Web前端、产品交互等多种设计，而VR的UI设计与传统的UI设计不同之处主要体现在交互设计上。
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好的UI设计不仅是让软件变得有个性有品位，还要让软件的操作变得舒适、简单、自由、充分体现软件的定位和特点。
		</div>
     
    
    
    
<div id="mrcooluik3">
	<h2 data-scroll-reveal="enter left and move 50px over 0.5s">华录优势</h2>
    <h3 data-scroll-reveal="enter from the bottom after 0.8s">Q：VR（UI设计）课程为什么要选择华录教育？
<br>
A：给你不得不选择华录教育的八大理由！
<br>
1.	品牌保证：中国唯一文化央企旗下教育品牌。
<br>
2.	保就业保薪资：入学签订就业协议。
<br>
3.	免费学习：先学习后付款。
<br>
4.	零基础教学：合理课程、高效教学。
<br>
5.	高端的师资力量：经验丰富、顶级师资。
<br>
6.	强大的项目支持：华录集团众多项目支持。
<br>
7.	完整的教学体系：经验团队+华录文化联合打造。
<br>
8.	全面的就业服务：保证学生100%满意就业。</h3>

	 <div class="mrcoolk">
        <section data-scroll-reveal="enter right after 0.5s">
            <h4>UI-平面设计师	</h4>
            <h5>年薪：50000+	</h5>
            <p>学习技能：企业VI、宣传品设计、海报广告牌等设计、图像后期	<br>热门就业：广告公司、媒体/公关公司、出版社</p>           
        </section>
         <section data-scroll-reveal="enter bottom over 1s and move 100px after 0.3s">
            <h4>UI-网页设计师	</h4>
            <h5>年薪：60000+	</h5>
            <p>学习技能：Web界面设计、HTML5语言、CSS样式、图像后期<br>热门就业：互联网公司、淘宝店设计</p>           
        </section>
        <section data-scroll-reveal="enter left">
            <h4>UI-软件界面设计师</h4>
            <h5>年薪：80000+	</h5>
            <p>学习技能：图标设计、专题设计、交互设计、移动界面设计<br>热门就业：电子商务公司、手机游戏公司</p>           
        </section>
        <section data-scroll-reveal="enter top">
            <h4>UI-国际UI设计师	</h4>
            <h5>年薪：100000+	</h5>
            <p>学习技能：平面、网页、移动终端界面设计师<br>热门就业：广告公司、互联网公司、电子商务公司、手机游戏公司</p>           
        </section>
        
	</div>
    
</div>
<!--4-->
<div id="mrcooluik4">
	<h2 data-scroll-reveal="enter top over 1s after 0.5s">华录教育UI课程，全面且具有针对性！<br>
UI设计全领域授课，内容涵盖广，满足更多就业需求。 
</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px"><b>
特色打造虚拟现实UI课程，术业专攻，专业培养VR+UI高级人才。</b>
<br>
1.	16周课程，平面设计、网页UI、移动UI、交互设计、虚拟现实UI应用课程全面教学，满足UI界各行需求。
<br>
2.	针对目前热门的虚拟现实专项UI设计重点教学特色，打造虚拟现实UI专业型人才。
<br>
3.	华录教育UI课程设置合理清晰，每阶段课程学成后均有能力制作相应产品、参与相关工作。
<br>
4.	华录教育保证学有所用、学有所成，保证学生掌握当前最热门的UI技术，轻松就业。
</h3>

	 <div class="mrcoolk">
        <section data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
            <h4>第一阶段</h4>
            <ul>
            	<li>视觉设计基础（预科）<br>
素描关系 光影绘制 色彩原理 色彩搭配 色阶色调 基础造型课程 色彩设计应用技巧 手绘图标 通过手绘的方式，了解并快速掌握图标的创作构思流程，学习如何将思路转化为设计手稿的方法，以及关键词设计、草图转换等。
吸引力 和导购意义的电商专题页面 </li>
				<li>平面媒体设计<br>
学习LOGO、名片、三折页、单页、海报、设计效果图制作 了解各类印刷品的规范标准 对印刷中常用工艺进行了解，并会制作相应的工艺版 同时学习Illustrator软件 为移动端图标设计打下软件基础 页面 </li>
				<li>电商专题页面设计<br>
掌握WEB专题界面设计特点与基本原则 结合电子商务网站中宝贝详情页与活动页的专题设计讲解 WEB专题界面设计特点 学习制作能够真实投放到电商平台使用，具备视觉吸引力 和导购意义的电商专题页面  </li>            
            </ul>                       
        </section>
        <section data-scroll-reveal="enter top over 1s after 0.5s">
            <h4>第二阶段</h4>
            <ul>
            	<li>移动端图标设计<br>
掌握Icon设计基本流程与设计规范的概念性讲解 掌握系统的UI界面图标设计技能 通过功能性认识图标的基本作用 掌握各种风格的 剪影图标、扁平图标、拟物图标实训 </li>
				<li>移动端视觉设计<br>
详细讲解IOS平台和Android平台上布局规范设计 交互体验细节设计 产品属性设计等 针对当今市面上社交类/拍摄类/打车类/音乐类/ 电商类App产品特点 通过不同案例进行练习 掌握时下最流行应用设计法则 </li>
				<li>移动端交互设计<br>
锻炼讲解方案的能力，培养产品经理思维，并掌握给客户讲解方案时需要注意的要点。 了解UE的基本概念 以产品经理思维设计并制作出整套App产品拓扑图与交互原型图 </li>            
            </ul>                       
        </section>
        <section >
            <h4 class="mrcoolwhite">第三阶段</h4>
            <div class="mrcoolflash">
            	<!--<img src="../Public/home/images/mrcool.gif">-->
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="560px" width="100%"> 
        <param name="movie" value="../Public/home/images/mrcool.swf" />  
        <param name="quality" value="high" />  
        <param name="wmode" value="transparent" />  
        <embed height="560px" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="../Public/home/images/mrcool.swf" type="application/x-shockwave-flash" width="100%" wmode="transparent"></embed> 
      </object> 
            </div>
            <ul>
            	<li>Web端视觉设计<br>
网页界面设计 熟练掌握Photoshop基本操作 掌握企业网站设计流程和规范 深度学习企业端网站的定位 产品功能整合 能够设计制作符合行业要求的企业网站作品  </li>
				<li>网页广告动画设计课<br>
对Flash的动画时间轴进行深入学习，掌握网页banner广告位的设计规范和设计方法，学习banenr广告位中用到AS代码，实现网页banner广告位的设计制作课程</li>
				<li>网页布局设计课<br>
对网页结构进行认知，了解切片与网页结构间的逻辑关系，学习符合W3C标准的HTML网页框架制作技术，包括结构标签、表格、表单等，学习网页样式表现方法，使用CSS对网页进行细节美化  </li>            
            </ul>                       
        </section>
        <section data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
            <h4 class="mrcoolwhite">第四阶段</h4>
            <ul>
            	<li>Web UI 前端开发项目<br>
学习HTML5、Jquery、JS基础指令、CSS3动画、熟悉DIV+CSS在网页的布局， 学员通过分饰产品经理交互设计Ui视觉设计完成对项目整体体验。</li>
				<li>移动端 UI 前端开发项目<br>
H5页面制作定制 学习JQ MOBILE  响应式设计 移动端视觉设计 交互设计，学员通过分饰产品经理交互设计Ui视觉设计完成对项目整体体验。</li>
				<li>项目发布会及简历就业技巧<br>
详细讲解一、二、三线互联网行业的面试，笔试技巧和简历的设计技巧，
选择合适自己的企业 </li>            
            </ul>                       
        </section>   
         
        
	</div>
</div>

<div id="mrcooluik5">
		<h2 data-scroll-reveal="enter top over 0.5s and move 200px">四个月的强化训练<br>
你将成为VR-UI 设计标准化专家</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px">√网页设计  √电商专题设计  √网页前端设计  √图标设计  √交互设计  √移动UI界面设计</h3>
    <h4 data-scroll-reveal="enter right after 0.5s">学生二阶段的案例</h4>
    

	 <div class="mrcoolkpic">
        <div class="picshow">
            <div class="row1" data-scroll-reveal="enter bottom over 1s and move 100px"><img src="../Public/home/images/uiclass1.jpg"><img src="../Public/home/images/uiclass5.jpg"><img src="../Public/home/images/uiclass2.jpg"><img src="../Public/home/images/uiclass4.jpg"></div>
            <div class="row2" data-scroll-reveal="enter right after 0.5s"><img src="../Public/home/images/uiclass7.jpg"><img src="../Public/home/images/uiclass6.jpg"><img src="../Public/home/images/uiclass3.jpg"><img src="../Public/home/images/uiclass8.jpg"></div>
            <div class="row3"  data-scroll-reveal="enter top over 3s after 0.5s"><img src="../Public/home/images/uiclass9.jpg"><img src="../Public/home/images/uiclass10.jpg"><img src="../Public/home/images/uiclass11.jpg"><img src="../Public/home/images/uiclass12.jpg"></div>
		</div>
     </div>
    	
</div>
<!--
<div id="mrcooluik6">
	<h2 data-scroll-reveal="enter top">我们的优势</h2>
    <h3 data-scroll-reveal="enter left">华录教育致力于打造中国泛VR教育第一品牌</h3>
	<div class="mrcoolk">	
         <div class="mrcoolkright">
            <section data-scroll-reveal="enter top">
                <h4>优品牌保证：</h4>            
                <p><b>●华录教育致力于打造中国泛VR教育第一品牌</b>，建立VR、AR全产业链式的人才培养体系。华录教育拥有独有的DNTV+教学管理体系，将项目制作，教学、人才招聘及输出科学的结合起来，帮着更多的人实现自己的梦想。</p>           
            </section>
            <section data-scroll-reveal="enter top over 3s after 0.5s">
                <h4>零压力学习：</h4>            
                <p><b>●华录教育助学贷款</b>，减轻因学费及生活费带来的压力<br>
    ●零元入学：助你打开成功之门</p>           
            </section>
            <section data-scroll-reveal="enter top over 0.5s and move 200px">
                <h4>全方位服务：</h4>            
                <p><b>●就业推荐</b>与多企业建立长期的人才输送合作关系，提供多渠道、全方位、负责任的就业服务。<br>
    ●学生服务：提供优环境学生住宿、多元化校园活动、创业服务平台等打造华录教育文化产业园区。</p>           
            </section>
            <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
                <h4>高品质教学：</h4>            
                <p><b>●一线师资</b>拥有实力雄厚的教师团队，行业专家亲自授课、项目指导。<br>
    ●面授教学：小班教学，与老师面对面交流，更好的吸收教学内容。</p>           
            </section>
            <section data-scroll-reveal="enter right over 1s and move 300px after 0.3s">
                <h4>最专业课程：</h4>            
                <p><b>●科学设置</b>建立最专业的课程设置，并不断为学生提供高效率、高品质的专业化创意教学服务。<br>
    ●项目实训：注重实战经验传授，培养真正具备创造能力和专业技术的领域专家。</p>           
            </section>
            
            
        </div>	
	</div>
</div>
-->
<div id="mrcooluik7">
	<h2 data-scroll-reveal="enter left">我们的黄埔教官</h2>
    <h3 data-scroll-reveal="enter top">我们严格 我们专业 只为打造UI设计领域标准化的你</h3>
    <div class="mrcoolk">
        <div class="uitec1">
            <img src="../Public/home/images/uitec1.png">
        </div>
        <div class="uitec2">
            <img src="../Public/home/images/uitec2.png">
        </div>
        <div class="uitec3">
            <img src="../Public/home/images/uitec3.png">
        </div>
        <div class="uitec4">
            <img src="../Public/home/images/uitec4.png">
        </div>
	</div>
</div>
<div id="mrcooluik8">
	<h2>我们的明星学员	</h2>
    <h3>你所知道的知名互联网公司华录教育都有人，这里，给你最无限的职业未来</h3>
    <div class="mrcoolk">	

        <section>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar01.jpg">
                           
                <p>大连九州智创<br>李瑞雪</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter right after 0.5s">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar02.jpg">
                           
                <p>卓新科技<br>卢新毅</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar03.jpg">
                           
                <p>信风海运<br>孙研</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar04.jpg">
                           
                <p>诺达科技<br>王可</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar05.jpg">
                           
                <p>信风海运<br>张晓惠</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar06.jpg">
                           
                <p>IBM<br>郑福一</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar07.jpg">
                           
                <p>百人科技<br>胡瑞</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar08.jpg">
                           
                <p>大连新锐天地<br>肖垚</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar09.jpg">
                           
                <p>北京中徽教育<br>李军</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar10.jpg">
                           
                <p>大连水晶石<br>焦彦喆</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar11.jpg">
                           
                <p>绿风科技<br>巴海燕</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar12.jpg">
                           
                <p>知了科技<br>张成义</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar13.jpg">
                           
                <p>微梦广告<br>丛博林</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar14.jpg">
                           
                <p>君德文化传媒<br>林雪峰 </p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar15.jpg">
                           
                <p>大连禾光科技<br>张亘</p>
 			</div>       
         </section>

     </div>
    
</div>
<div id="mrcooluik9">
	<div class="mrcoolk1">
    	<table>
        	<tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>薪资待遇</th>
                <th>工作地</th>
                <th>就职公司</th>
            </tr>
        	<tr data-scroll-reveal="enter left">
            	<td>郑福一</td>
                <td>男</td>
                <td>30</td>
                <td>本科</td>
                <td>8k+</td>
                <td>大连</td>
                <td>IBM</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>方达</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>新式软件</td>
            </tr>
            <tr data-scroll-reveal="enter top">
            	<td>刘津宁</td>
                <td>男</td>
                <td>28</td>
                <td>本科</td>
                <td>3k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter bottom over 1s and move 10px">
            	<td>孙建</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>杨慧超</td>
                <td>男</td>
                <td>29</td>
                <td>本科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>新视软件</td>
            </tr>
            <tr  data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>王志文</td>
                <td>男</td>
                <td>22</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>马也</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>通科虚拟仿真</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>乔治</td>
                <td>男</td>
                <td>24</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>尹禹</td>
                <td>女</td>
                <td>21</td>
                <td>本科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>卓越非凡</td>
            </tr>
            <tr  data-scroll-reveal="enter bottom over 1s and move 80px after 0.3s">
            	<td>张帅</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>中海高科船舶</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>周恬</td>
                <td>女</td>
                <td>22</td>
                <td>专科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>水晶石数字科技</td>
            </tr>
        </table>
    </div>
</div>
<div id="mrcooluik10">
	<h2  data-scroll-reveal="enter left over 1s and move 300px after 0.3s">华录教育企业联盟</h2>
    <h3  data-scroll-reveal="enter right over 1s and move 300px after 0.3s">他们，给你最稳妥的就业保障</h3>	
</div>
<div id="mrcooluik11">
	<h2 data-scroll-reveal="enter left over 1s after 0.5s">教学环境</h2>
    <h3 data-scroll-reveal="enter right">这里，给你最舒适的环境保障</h3>	
</div>
<div id="mrcooluik12">
	<div class="mrcoolk">
    	<div class="uienter" data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s"><a href="/contact/information"><img src="../Public/home/images/mrcooluian.png"></a></div>
    </div>
</div>

<script src="../Public/home/js/scrollReveal.js"></script> 
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
		window.scrollReveal = new scrollReveal({reset: true});
	})();
};
</script>










<footer id="footer">

</footer>
    
</body>
</html>
