<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css"href="../Public/home/images//reset.css" />
<link rel="stylesheet" type="text/css"href="../Public/home/images//css.css" />

<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->




	<div class="bannerjj"></div>
    <div class="mrcoolbread">
            <div class="mrcoolbread1">VR(Unity开发方向)<br></div>
            <div class="mrcoolbread2">AR VR MR</div>
  	</div>
	<div>
    	<div class="tou1jj">VR发展，内容为王，游戏开路</div>
        <div class="diandian1jj"></div>
        <div class="guanxi1jj">
        	<div class="zhong1jj">
            	<div class="zuojj">
                	<div class="zuo1jj">硬件技术是支持，内容应用是王道:</div>
                	<div class="zuo2jj">&nbsp;&nbsp;&nbsp;&nbsp;VR兴起，硬件发展首当其冲，全球范围各大知名企业早早投
入到虚拟现实设备的发展，并不断推陈出新。目前VR技术条件的
初步成熟，设备应用的日臻完善，而VR内容却乏善可陈，且VR
应用内容涵盖面广泛、内有乾坤大有文章可做，一大批企业将发
展目光投到了做VR上来。	</div>
                </div>
				<div class="you1jj"></div>
            </div>
         </div>
         <div class="guanxi2jj">
            <div class="zhong2jj">
            	<div class="zuo3jj"></div>
                <div class="you2jj">
                	 <div class="you3jj">VR+游戏开发：先天优势，首发蓝海</div>
                	 <div class="you4jj">&nbsp;&nbsp;&nbsp;&nbsp;而VR与游戏的结合将率先打开蓝海局面。相比较于其他
VR内容领域，VR+游戏的发展有着天然的优势：
     1. VR游戏开发可以使用现有的游戏开发流程及开发工具
，成本低过渡平滑；
     2. VR游戏可以采用现有的成熟商业模式；
     3. 游戏市场大，对很多人有很强吸引力。
     据SuperData发布的报告显示，2016年全球VR游戏市
场规模预计在51亿美元左右，到2018年市场规模或达到123
亿美元。</div>
                </div>
            </div>
         </div>
       </div>
    </div><!-- 关系 -->
    

    	<div class="tou2jj">Unity3D，最受欢迎的游戏引擎，VR的主流开发工具</div>
       
        <div class="jieshao1jj">
        	<div class="you5jj">&nbsp;&nbsp;&nbsp;&nbsp;Unity3D，简单来说是一款成熟的,专业的游戏引擎。可以轻松的创建跨平台游戏。是由Unity Technologies开发的一个让你轻松创建诸如三维视频游戏、建筑可视化、实时三维动画等类型互动内容的多平台的综合型游戏开发工具，是一个全面整合的专业游戏引擎。</div>
            <div class="you6jjj">   
                <div class="danzi1jj1">VR目前最缺应用内容，而80%以上的人选择Unity开发VR应用，是目前最火、最具发展的专业游戏引擎。</div>
                <div class="danzi1jj2">Unity开发者年薪基本在10万以上，50%工作年限在2年内的平均月薪高达11K，远超过其他软件开发岗位的薪资水平。</div>
                <div class="danzi1jj3">网络游戏行业每年以20%速度在增长，人才更是供不应求，市场人才需求大，对开发者的经验要求相应较低。</div>
            </div>
        </div>
      
    <!-- Unity介绍 -->
    
  
  <div id="mrcooluik6">
	<h2 data-scroll-reveal="enter top">华录文化强势加入VR教育</h2>
    <h3 data-scroll-reveal="enter left">五宗“最”给你最强承诺！</h3>
	<div class="mrcoolk">	
         <div class="mrcoolkright">
            <section data-scroll-reveal="enter top">
                <h4>最高等的教育平台：</h4>            
                <p><b>华录教育作为中国唯一的文化央企</b>，是教育培训的最高平台，能给予学生最完善的学习体验和最广阔的发展空间。</p>           
            </section>
            <section data-scroll-reveal="enter right over 1s after 0.5s and move 100px">
                <h4>最热门的培训课程：</h4>            
                <p><b>华录教育设置的所有课程均围绕VR的内容应用</b>，是目前最热门行业，我们承诺只开设100%就业的
高薪职业课程。</p>           
            </section>
            <section data-scroll-reveal="enter left over 0.5s and move 100px">
                <h4>最完备的教学体系：</h4>            
                <p><b>资深IT教育团队与华录文化建设团队强强联合</b>，共同打造HIACS教学体系，把传道、授业、解惑做
到极致。</p>           
            </section>
            <section data-scroll-reveal="enter left over 1s and move 300px after 0.3s">
                <h4>最强大的项目支持：</h4>            
                <p><b>华录集团控股企业七十四家</b>，上市公司两家参股企业八家。拥有大量的项目资源支持，保证学生的
学习实训。</p>           
            </section>
            <section data-scroll-reveal="enter right over 1s and move 300px after 0.3s">
                <h4>最可靠的就业保障：</h4>            
                <p><b>华录教育拥有完备的就业服务体系</b>、遍布全国的就业支持网络、华录内部及合作企业的人才交流，
入学即签订保就业保薪资协议，保证学生100%高薪就业。</p>           
            </section>
            
            
        </div>	
	</div>
</div>
  
    
    
    

    
    
    
    <!-- 华录介绍 -->
    
    <div class="zuiyouxiu">
    	<div class="tou4jj">我们只培养最优秀的VR Unity3D工程师！</div>
        <div class="diandian4jj"></div>
        <div class="dagang1jj">
        	<div class="zhong6jj">
            	<div class="zuo5jj"></div>
                <div class="you6jj"><strong>华录VR（Unity3D开发）课程</strong>，独家首发完整的VR培训课程。不仅按照Unity官方提供的课程体系全面授课，更是服务于VR内容应用，打造真正的VR教学。</div>
            </div>
            <div class="dagang2jj">
                <div class="zhong7jj">
                    <div class="zuo6jj"><strong>华录VR（Unity3D开发）课程</strong>，增加了更多实战性及创新性的项目。实战项目涵盖了时下最流行的游戏，并研发独立的VR游戏项目。培养学员成为具有丰富项目经验和项目合作精神的高端VR游戏开发人才。</div>
                    <div class="you7jj"></div>
                </div>
            </div>
            <div class="dagang3jj">
                <div class="zhong8jj">
                    <div class="zuo7jj"></div>
                    <div class="you8jj"><strong>华录VR（Unity3D开发）课程</strong>，应用全球领先的VR应用开发软件，拥有最受软件企业欢迎的课程体系，培养最受欢迎的VR游戏开发人才。</div>
                </div>
                 



            </div>
        </div>
    </div><!-- Unity课程介绍及大纲 -->
    
    
    
    
   
<div id="mrcooluik5">
		<h2 data-scroll-reveal="enter top over 0.5s and move 200px">四个月的强化训练<br>
你将成为VR-UI 设计标准化专家</h2>
    <h3 data-scroll-reveal="enter bottom over 1s and move 100px">√网页设计  √电商专题设计  √网页前端设计  √图标设计  √交互设计  √移动UI界面设计</h3>
    <h4 data-scroll-reveal="enter right after 0.5s">学生二阶段的案例</h4>
    

	 <div class="mrcoolkpic">
        <div class="picshow">
            <div class="row1" data-scroll-reveal="enter bottom over 1s and move 100px"><img src="../Public/home/images/uiclass1.jpg"><img src="../Public/home/images/uiclass5.jpg"><img src="../Public/home/images/uiclass2.jpg"><img src="../Public/home/images/uiclass4.jpg"></div>
            <div class="row2" data-scroll-reveal="enter right after 0.5s"><img src="../Public/home/images/uiclass7.jpg"><img src="../Public/home/images/uiclass6.jpg"><img src="../Public/home/images/uiclass3.jpg"><img src="../Public/home/images/uiclass8.jpg"></div>
            <div class="row3"  data-scroll-reveal="enter top over 3s after 0.5s"><img src="../Public/home/images/uiclass9.jpg"><img src="../Public/home/images/uiclass10.jpg"><img src="../Public/home/images/uiclass11.jpg"><img src="../Public/home/images/uiclass12.jpg"></div>
		</div>
     </div>
    	
</div>
<!--

-->
<div id="mrcooluik7">
	<h2 data-scroll-reveal="enter left">我们的黄埔教官</h2>
    <h3 data-scroll-reveal="enter top">我们严格 我们专业 只为打造UI设计领域标准化的你</h3>
    <div class="mrcoolk">
        <div class="uitec1">
            <img src="../Public/home/images/uitec1.png">
        </div>
        <div class="uitec2">
            <img src="../Public/home/images/uitec2.png">
        </div>
        <div class="uitec3">
            <img src="../Public/home/images/uitec3.png">
        </div>
        <div class="uitec4">
            <img src="../Public/home/images/uitec4.png">
        </div>
	</div>
</div>
<div id="mrcooluik8">
	<h2>我们的明星学员	</h2>
    <h3>你所知道的知名互联网公司华录教育都有人，这里，给你最无限的职业未来</h3>
    <div class="mrcoolk">	

        <section>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar01.jpg">
                           
                <p>大连九州智创<br>李瑞雪</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter right after 0.5s">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar02.jpg">
                           
                <p>卓新科技<br>卢新毅</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar03.jpg">
                           
                <p>信风海运<br>孙研</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar04.jpg">
                           
                <p>诺达科技<br>王可</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar05.jpg">
                           
                <p>信风海运<br>张晓惠</p>
 			</div>
            <div class="uiclassstar"  data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar06.jpg">
                           
                <p>IBM<br>郑福一</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar07.jpg">
                           
                <p>百人科技<br>胡瑞</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>6K+</h4>
                </div> 
                <img src="../Public/home/images/uistar08.jpg">
                           
                <p>大连新锐天地<br>肖垚</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>8K+</h4>
                </div> 
                <img src="../Public/home/images/uistar09.jpg">
                           
                <p>北京中徽教育<br>李军</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter left">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar10.jpg">
                           
                <p>大连水晶石<br>焦彦喆</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar11.jpg">
                           
                <p>绿风科技<br>巴海燕</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>3.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar12.jpg">
                           
                <p>知了科技<br>张成义</p>
 			</div>
            <div class="uiclassstar" data-scroll-reveal="enter bottom over 1s and move 100px">
                <div class="uixinzi">
                	<h4>4.5K+</h4>
                </div> 
                <img src="../Public/home/images/uistar13.jpg">
                           
                <p>微梦广告<br>丛博林</p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 0.5s and move 200px">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar14.jpg">
                           
                <p>君德文化传媒<br>林雪峰 </p>
 			</div> 
            <div class="uiclassstar" data-scroll-reveal="enter top over 3s after 0.5s">
                <div class="uixinzi">
                	<h4>4K+</h4>
                </div> 
                <img src="../Public/home/images/uistar15.jpg">
                           
                <p>大连禾光科技<br>张亘</p>
 			</div>       
         </section>

     </div>
    
</div>
<div id="mrcooluik9">
	<div class="mrcoolk1">
    	<table>
        	<tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>学历</th>
                <th>薪资待遇</th>
                <th>工作地</th>
                <th>就职公司</th>
            </tr>
        	<tr data-scroll-reveal="enter left">
            	<td>郑福一</td>
                <td>男</td>
                <td>30</td>
                <td>本科</td>
                <td>8k+</td>
                <td>大连</td>
                <td>IBM</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>方达</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>新式软件</td>
            </tr>
            <tr data-scroll-reveal="enter top">
            	<td>刘津宁</td>
                <td>男</td>
                <td>28</td>
                <td>本科</td>
                <td>3k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter bottom over 1s and move 10px">
            	<td>孙建</td>
                <td>男</td>
                <td>21</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>杨慧超</td>
                <td>男</td>
                <td>29</td>
                <td>本科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>新视软件</td>
            </tr>
            <tr  data-scroll-reveal="enter top over 0.5s and move 200px">
            	<td>王志文</td>
                <td>男</td>
                <td>22</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>石榴教育科技</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>马也</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>通科虚拟仿真</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>乔治</td>
                <td>男</td>
                <td>24</td>
                <td>专科</td>
                <td>3.5k+</td>
                <td>大连</td>
                <td>伟岸纵横</td>
            </tr>
            <tr data-scroll-reveal="enter top over 3s after 0.5s">
            	<td>尹禹</td>
                <td>女</td>
                <td>21</td>
                <td>本科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>卓越非凡</td>
            </tr>
            <tr  data-scroll-reveal="enter bottom over 1s and move 80px after 0.3s">
            	<td>张帅</td>
                <td>男</td>
                <td>23</td>
                <td>专科</td>
                <td>5k+</td>
                <td>大连</td>
                <td>中海高科船舶</td>
            </tr>
            <tr data-scroll-reveal="enter right after 0.5s">
            	<td>周恬</td>
                <td>女</td>
                <td>22</td>
                <td>专科</td>
                <td>4k+</td>
                <td>大连</td>
                <td>水晶石数字科技</td>
            </tr>
        </table>
    </div>
</div>
<div id="mrcooluik10">
	<h2  data-scroll-reveal="enter left over 1s and move 300px after 0.3s">华录教育企业联盟</h2>
    <h3  data-scroll-reveal="enter right over 1s and move 300px after 0.3s">他们，给你最稳妥的就业保障</h3>	
</div>
<div id="mrcooluik11">
	<h2 data-scroll-reveal="enter left over 1s after 0.5s">教学环境</h2>
    <h3 data-scroll-reveal="enter right">这里，给你最舒适的环境保障</h3>	
</div>
<div id="mrcooluik12">
	<div class="mrcoolk">
    	<div class="uienter" data-scroll-reveal="enter from the left after 0.3s, move 40px, over 2s"><a href="/contact/information"><img src="../Public/home/images/mrcooluian.png"></a></div>
    </div>
</div>
 
    

<script src="../Public/home/js/scrollReveal.js"></script> 
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
		window.scrollReveal = new scrollReveal({reset: true});
	})();
};
</script>










<footer id="footer">

</footer>



</body>
</html>
