<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="../Public/home/images/css.css" />
<script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>
</head>

<body>

<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->

 <div class="kecrbanner1"></div>
<div class="kecrbj">
 	<div class="kecrk1">
    	<div class="kecrzi1">无论虚拟<span style="color:#5cffff;">or</span>现实，</div>
        <div class="kecrzi2"><span style="font-size:30px;">有互联网的地就需要</span>Web<span style="color:#5cffff;">前端开发工程师</span>！</div>
        <div class="lankke1cr"></div>
        <div class="lankke1cr1"></div>
        <div class="kecrzi3">Web给用户展示的东西，通过浏览器到用户端计算机的统称。
   <br />web前端开发随处可见：轻应用、微信、游戏、Web APP、
   <br />智能产品开发等Web前端应用充斥着我们的日常生活。</div>
        <div class="kecrzi4">无论各种技术如何更迭，任何互联网产业均离不开Web前端开发，
   <br />而VR的不断增长将会暴露APP的局限性，从而使市场对Web的需求更加明显。</div>
        
    </div>
    <div class="kecrk2">
    	<div class="kecrzi5">WEB就是未来，</div>
        <div class="kecrzi6">我们作为<span style="color:#5cffff; font-size:60px">前端开发工作者</span>也是<span style="color:#5cffff; font-size:60px">未来</span>。</div>
        <div class="kecryx_1">
        <div class="kecryx_1zi"><span style="color:#fff; font:normal 30px/40px '汉仪综艺体简'">朝阳产业，发展迅速</span><br />随着网络普及和发展，网站作为一种很
<br />强大的工具和平台越来越融入了人们的生
<br />活，而与用户关系最密切的前端技术也逐
<br />渐得到应有的重视。我们可以看到前端重
<br />构的行业发展潜力巨大，各大知名的网络
<br />公司对前端人才的求饥若渴。</div>
		</div>
        
        
        
        
        <div class="kecryx_2">
        	<div class="kecryx_2zi"><span style="color:#fff; font:normal 30px/40px '汉仪综艺体简'">人才需求，紧缺紧俏</span><br />在互联网高速发展的今天，Web前端
<br />工程师是市场上紧缺的高技能人才，每
<br />天有数万家企业招聘该岗位，以上海为
<br />例，上海互联网紧缺人才报告发布WEB
<br />前端开发工程师最紧俏，可以说Web前
<br />端就业前景广阔WEB前端开发工程师，
<br />是互联网行业争抢的高端人才。</div>
        </div>
        
        
        
        <div class="kecryx_3">
        	<div class="kecryx_3zi"><span style="color:#fff; font:normal 30px/40px '汉仪综艺体简'">行业薪资，遥遥领先</span><br />    Web前端开发源于传统的互联网，
互联网普及让人才需求量居高不下，
随着移动互联网的高速发展，移动终
端的前端开发也越来越受到重视，因
此薪水自然也高，据智联招聘、51Jo
b、猎聘网等招聘网站得到的数据，
Web前端工程师的平均薪资都在万元
以上，是真正的高薪职业。</div>
        </div>
    </div>
    
    
    
    
    <div class="kecrk3">
    	    <div class="kecrzi8">WEB前端开发课程</div>
    		<div class="kecrzi9">为什么要选择<span style="color:#5cffff;">华录教育</span>？</div>
            <div class="kecrtu_c1"></div>
            <div class="kecrzi10">给你不得不选择华录教育的八大理由！</div>
            <div class="bqiancr1"></div>
            <div class="bqiancr2"></div>
            <div class="bqiancr3"></div>
            <div class="bqiancr4"></div>
            <div class="bqiancr5"></div>
            <div class="bqiancr6"></div>
            <div class="bqiancr7"></div>
            <div class="bqiancr8"></div>
            
            <div class="bqianzii1"><span style="font:bold 30px '微软雅黑';">品牌保证：</span>中国唯一文化央企旗下教育品牌。</div>
            <div class="bqianzii2"><span style="font:bold 30px '微软雅黑';">免费学习：</span>先学习后付款。</div>
            <div class="bqianzii3"><span style="font:bold 30px '微软雅黑';">保就业保薪资：</span>入学签订就业协议。</div>
            <div class="bqianzii4"><span style="font:bold 30px '微软雅黑';">零基础教学：</span>合理课程、高效教学。</div>
            <div class="bqianzii5"><span style="font:bold 30px '微软雅黑';">高端的师资力量：</span>经验丰富、顶级师资。</div>
            <div class="bqianzii6"><span style="font:bold 30px '微软雅黑';">强大的项目支持：</span>华录集团众多项目支持。</div>
            <div class="bqianzii7"><span style="font:bold 30px '微软雅黑';">完整的教学体系：</span>经验团队+华录文化联合打造。</div>
            <div class="bqianzii8"><span style="font:bold 30px '微软雅黑';">全面的就业服务：</span>保证学生100%满意就业</div>
    </div>
    
    <div class="crkim_ku1">
    	<div class="zhuangscr_bim"></div>
    </div>
    <div class="crkim_ku2">   
    	<div class="zicrkcheng_1c">HTML5、CSS3、<br />JavaScript、JQuery！</div>
        <div class="zicrkcheng_2c">华录Web开发课程全面教学！</div>
        <div class="zicrkcheng_3c">Bootstrap、AngularJS！</div>
        <div class="zicrkcheng_4c">课程升级，主流前沿技术任你学！</div>
    </div> 
    <div class="crkim_ku3">
    	<div class="circledycr_1"></div>
        <div class="circledycr_2"></div>
        <div class="circledycr_3"></div>
        <div class="circledycr_4"></div>
        <div class="zicrkcheng_5c">华录WEB前端开发课程完全专注于前端知识，
<br />全面、深入的讲解HTML5、CSS3、JavaScript、JQuery等内容，
<br />将这些核心知识学到极致。！</div>
        <div class="zicrkcheng_6c">WEB前端技术日新月异， Bootstrap、AngularJS等
<br />是当前互联网开发的热点。华录WEB前端开发课程完全覆盖这些
<br />最新、最炫的技术内容。</div>
        <div class="zicrkcheng_7c">以真实的互联网项目贯穿全部课程，以实现知名互联网系统前端
<br />为检验学习成果的标准。培训与就业的无缝衔接，保证学员具备
<br />WEB工程师所有能力！</div>
        <div class="zicrkcheng_8c">华录教育高薪汇聚行业内最牛的HTML5、JavaScript、
<br />交互设计联袂组合授课。更有行业前端精英定期进行项目实战点评
<br />和最新技术讲座。</div>

		<div class="zicrkchg_1o">课程内容
<br />全面：</div>
        <div class="zicrkchg_2o">技术主流
<br />最新：</div>
        <div class="zicrkchg_3o">贯穿项目
<br />实训：</div>
        <div class="zicrkchg_4o">顶级师资
<br />亲授：</div>
    </div>
    <div class="crkim_ku558"></div>	
    
    
  <div class="crkim_ku520"><!--教师团队--> 
    	<div class="zicrkchg_5o">教师团队</div><!--教师团队交互-->
        <div class="teachertu_1ss">
        	<div class="gdcr_zu1">WEB前端专业高级讲师<br />10年行业经验代表作：面包新语、王刚造型、星海国府 、棒棰岛集团海参博物馆、
<br />奥特莱斯、英歌石、树源集团、 美恒科技、平谷地产、新天百、
 <br />凯润集团、金石滩国家旅游旅游度假区佳人风情等。</div>
        </div>
        
        
        <div class="teachertu_2ss">
        	<div class="gdcr_zu2">室内设计专业资深讲师<br />Autodesk 
认证3Dmax产品专家，辽宁省美术协会会员<br />参与项目：大连钻石湾、大连红星海世界观、
<br />香港KPF 、日本CGJP、印度Dharavi等。</div>
        </div>
        
        <div class="teachertu_3ss">
        	<div class="gdcr_zu3">UI视觉设计专业资深讲师
<br />10余年行业经验，拥有丰富
<br />的原画设计、UI设计经验。<br />代表作品：央视动画《大禹治水》，
<br />手游口袋星球，海底世界，卡牌原
<br />画等原画设计项目及多款APP设计。</div>
        </div>
        <div class="teachertu_4ss">
        	<div class="gdcr_zu4">UI设计讲师<br />10年行业经验。代表作：中国电信、阿满食品、加拿大
<br />红螺包装、金棒槌、东展集团、好口福、
<br />光大银行、国融集团、奔宝汽车、花园
<br />口地产、汇财贷、胜广电讯等。</div>
        </div>
        <div class="teachertu_5ss">
        	<div class="gdcr_zu5">室内设计专业资深讲师<br />Autodesk 
认证3Dmax产品专家，9年室内设计
<br />工作经验，拥有丰富的项目经验，曾
<br />参与过国内外房地产，古建复原，
<br />奥运，世博等项目。</div>
        </div>
        <div class="teachertu_6ss">
        	<div class="gdcr_zu6">室内设计软装高级讲师<br />CIDA认证室内
设计师、ＩＣＤＡ从业资格认证、中国
<br />建筑装饰行业认证设计师<br />代表作：万科朗润园样板间、万科樱花
<br />园样板间、万科蓝山样板间等。</div>
        </div>
        <div class="teachertu_7ss">
        	<div class="gdcr_zu7">WEB前端专业高级讲师<br />10年行业经验代表作：面包新语、王刚造型、星海国府 、
<br />棒棰岛集团海参博物馆、奥特莱斯、英歌石、
<br />树源集团、 美恒科技、平谷地产、新天百、
<br />凯润集团、金石滩国家旅游旅游度假区佳人
<br />风情等。</div>
        </div>
        
    <div class="zicrkchg_1co">孙涛 </div>
        <div class="zicrkchg_2co">陈绍明	</div>
        <div class="zicrkchg_3co">丛光</div>
        <div class="zicrkchg_4co">董岩松</div>
        <div class="zicrkchg_5co">韩烨</div>
        <div class="zicrkchg_6co">孙林</div>
        <div class="zicrkchg_7co">蒋岩利</div>
    </div> 
		<div class="zwjbox8">
        	<div class="zwjzuopinfont1">就业明星</div>
        	<div class="zwjzuopin1"></div>
            <div class="zwjzuopinfont2">李军 北京中徽教育</div>
            <div class="zwjzuopin2"></div>
            <div class="zwjzuopinfont3">郑福一  IBM（中国）</div>
            <div class="zwjzuopin3"></div>
            <div class="zwjzuopinfont4">张亘--大连禾光科技有限公司</div>
            <div class="zwjzuopinfengexian3"></div>
            <a href="four5.html" class="zwjzuopingengduo">更多</a>
        </div><!--第七部分就业明星-->
 </div>

<footer id="footer">

</footer>




</body>
</html>
