.card {
  margin: 0px 0px 16px;
  box-shadow: 1px -1px 0 0 #eeeeee inset, -1px 0 0 0 #eeeeee inset;
  background-color: #fff;
  padding: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  display: block;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  height:232px;
  width:200px;
}
.card:before {
  display: block;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.card .tile-heading {
  text-align: left;
  color: #9e9e9e;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.card .tile-body {
  text-align: left;
  color: #616161;
  font-size: 32px;
  font-weight: 300;
  line-height: 72px;
  position: relative;
  z-index: 1;
}
.card .tile-footer {
  text-align: left;
  font-size: 11px;
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.card .tile-title {
  position: absolute;
  height: 25px;
  /*width: 100px;*/
  padding:2px;
  border:1px solid #999;
  text-align:right;
  background-color: #fff;
  border-radius: 5px;
  left: 4px;
  top: 4px;
}

.card .tile-price {
  position: absolute;
  height: 25px;
  /*width: 70px;*/
  padding:2px;
  border:1px solid #999;
  text-align:right;
  background-color: #fff;
  border-radius: 5px;
  right: 4px;
  top: 170px;
}
.card .tile-user {
  position: absolute;
  height: 25px;
  /*width: 70px;*/
  padding:2px;
  border:1px solid #999;
  text-align:right;
  background-color: #fff;
  border-radius: 5px;
  left: 4px;
  top: 170px;
}

.card .tile-date {
  position: absolute;
  height: 20px;
  font-size:10px;
  /*width: 70px;*/
  padding:2px;
  border:1px solid #999;
  text-align:right;
  background-color: #fff;
  border-radius: 3px;
  left: 4px;
  top: 32px;
}

.card .tile-like {
  position: absolute;
  height: 20px;
  font-size:10px;
  color:red;
  /*width: 70px;*/
  padding:2px;
  border:1px solid #999;
  text-align:right;
  background-color: #fff;
  border-radius: 3px;
  left: 4px;
  top: 32px;
}

.card .tile-report {
  position: absolute;
  height: 28px;
  width:80px;
  font-size:14px;
  color:#fff;
  text-align: center;
  padding:2px;
  background-color: red;
  border:1px solid #fff;
  border-radius: 3px;
  left: 60px;
  top: 100px;
}


.card .tile-view {
  position: absolute;
  height: 20px;
  padding:2px;
  border:0px solid #999;
  left: 5px;
  bottom: 7px;
}

.card .tile-del {
  position: absolute;
  height: 20px;
  padding:2px;
  border:0px solid #999;
  right: 5px;
  bottom: 7px;
}
