.panel-midnightblue{padding: 20px 10px;}
.order-search{
	width: 100%;
	height: 47px;
	background-color: #e4e4e4;
	line-height: 47px;
	padding-left: 27px;
}
.option{
	width: 100%;
	color: #656566;
	line-height: 32px;
	overflow: hidden;
	
}
.option label,p,input{
	float: left;
}
.optBox{float: left;}
.option label{text-align: right;width: 80px;margin-right: 10px;}
.option input,.option select{width: 150px;}
.option .zhi{padding: 0px 4px;}
#name{width: 300px;}
#time1,#time2{width: 140px;}
.btn-search{
	width: 141px;
	line-height: 20px;
	text-align: center;
	background-color: #f3f3f3;
	color: black;
}
.Mtop{
	margin-top: 27px;
}
.cen{
	text-align: center;
}
/*      弹出层                */
.modal-content{padding: 10px 46px;}
.tan-top{}
.tan-red{
	width: 100px;
	height: 30px;
	color: #ed8e72;
	margin-left: 20px;
	display: block;
}
.M-auto{
	/*margin-left: 30%;*/
	margin-top: 20px;
}
.Mtop a{
	color: dimgrey;
}
/*----------------------------------------------------------------------*/
.tableMy tr td:nth-child(2n-1){color: #333;font-weight: bold;text-align: center; }
.shopList ul{padding-left: 0px;}
.shopList li{list-style: none;overflow: hidden;border-bottom: 1px dashed #ddd;margin-bottom: 20px;}
.shopList .shopImg{width: 140px;float: left;;margin: 0px 15px;}
.shopList .shopImg img{max-width: 100%;}
.shopList .shopDescribe{width: auto;margin-left: 170px;}
.shopList .shopDescribe p{margin: 0 0 10px;}
.shopList .shopDescribe .shopPrice{margin-right: 10px;}
.opt{padding-bottom: 40px;text-align: center;}
.opt .btn{width: 120px;height: 40px;border-radius: 4px;font-size: 14px;display: inline-block;margin: 4px;}
.opt .btn a{color: #fff;}
.centop{
	position: absolute;
	top: 30%;
	left: 35%;
}
