
.G20{
	width:100%;
	height:450px;
	margin-bottom:40px;
	}
.list_con .G20 .imgbox{
	width:720px;
	height:450px;
	float:left;
}
.list_con .G20 .info{

}
.G20 .G20_intr{
	width:280px;
	margin-right:20px;
	float:right;
}
.VR_intro{
	width:100%;
}
.VR_intro .title_sum{
	width:100%;
	margin-bottom:30px;
}
.VR_intro .title_sum ul{
	height:60px;
}
.VR_intro .title_sum ul li{
	background:#fff;
	width:200px;
	height:60px;
	line-height:60px;	
}
.VR_intro .title_sum ul .current{
	background:#ffce24;
}
.VR_intro .title_sum ul li:hover{
	background:#ffce24;
}
.VR_intro .title_sum ul li a{
	
}
.VR_intro .title_sum ul li a:hover{
	color:#816400;
}
.VR_gq_intro,.VR_qsjm_intro{
	margin-bottom:30px;
}
/* ºÏ×÷»ï°é */
.co_opr{
	width:100%;
}
.co_opr ul {  
	width:100%;
	border:none;
}
.co_opr ul li{
	margin-top:20px;
	margin-bottom:20px;
	width:20%;
	height:70px;
	float:left;
}
.co_opr ul li img{
	width:170px;
	height:70px;
}