@charset "utf-8";
/* 首页 布局-liujx*/
/*-----------页头---------------*/
.slides{
height:700px;
}

.head{
	width:100%;
	margin:0 auto;
	height:470px;
	position:relative;
}

.head .logobox{
	height:100%;
}
.nav .box {
    left: 505px;
    position: absolute;
    top: 126px;
    width: 1200px;
    z-index: 5000;
}
.nav.box1 {
    left: 680px;
}
.box span {
    display: block;
    float: left;
    width: 300px;
}
.area {
    background: #9191b7 url("images/list_bg1.jpg") repeat-x scroll 0 0;
    float: left;
    height: auto;
    margin-top: 10px;
    width: 170px;
}
.box span ul {
    float: left;
}
.box span ul li {
    background: #004e99 none repeat scroll 0 0;
    border-bottom: 1px solid #9191b7;
    line-height: 29px;
    text-align: center;
    width: 170px;
}
.box span ul li:hover {
    background: #9191b7 none repeat scroll 0 0;
    color: #004e99;
}
.box span ul li a {
    color: #fff;
    font-size: 12px;
    height: 29px;
    width: 170px;
}

.head .slider_banner{
	margin-top:-40px;
	width:100%;
	height:300px;
	position:absolute;
	z-index:-1;
	margin-bottom:100px;
}
.train,.advertise,.course{
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}
.advertise1{
	background:url("../images/adv.jpg") no-repeat center center;
	height:100px;
	margin-top:280px;
	font-size:1300px 100px;
}
.wrap2{
	position:relative;
}
.consult_button{
	position:absolute;
	bottom:10px;
	right:0px;
	width:
}
.course{
	background:#f7f9fc;
	padding-bottom:30px;
}
 
.course .cour_con{
	margin-top:20px;
	width:100%;
}
.title{
	height:70px;
	background:url(../images/bar_bg.png) no-repeat scroll;
	background-size:1300px;
	background-position:100% 50%;
	margin-top:50px;
	width:100%;
	height:80px;
	text-align:center;	
	margin-bottom:40px;
}
.title h1{
	font-size:40px;
	color:#3b3b3b;
	height:40px;
	line-height:40px;
}
.title  span{
	display:block;
	font-size:30px;
	color:#adadae;
}
.course .cour_con .cour_list{
	width:16%;
	margin:4px;
	text-align:center;
}
.course .cour_con .cour_list .cour_intr_title{
	font-size:18px;
	font-weight:bold;
	color:#333333;	
	margin-top:20px;
	margin-bottom:30px;
}
.course .cour_con .cour_list .cour_intr{
	color:#666666;
	width:85%;
	height:140px;
	margin:0 auto;
	font-size:14px;
	text-align:left;
	
}
.course .cour_con .cour_list .info_button{
	background:#083090;
	width:180px;
	height:55px;
	line-height:55px;
	font-size:18px;
	color:#fff;
	vertical-align:middle;
	border-radius:5px;
	margin:0 auto;
	margin-top:30px;
}
.course .cour_con .cour_list .info_button2{
	background:#ffce24;
}
.course .cour_con .cour_list .info_button3{
	background:#71b383;
}
.course .cour_con .cour_list .info_button4{
	background:#a75fab;
}
.course .cour_con .cour_list .info_button5{
	background:#f65177;
}
.course .cour_con .cour_list .info_button6{
	background:#02b8cd;
}

.course .cour_con .cour_list .info_button a{
	color:#fff;
}
.course .cour_con .cour_list .info_button a:hover{
	text-decoration:none;
	color:#af8b0f;
}

/*----------首页导航-------------*/
#navlist{
    background:#083090; width:1600px; margin:0 auto;height:80px; margin-top:110px;
}

#navfocus {
    font-weight:bold; font-family:Microsoft YaHei; line-height: 80px; height:80px; verticla-align:middle; list-style-type: none; width:70%; margin:0 auto;
}

#navfocus a {
    display: block; width: 100%; text-align:center;line-height:20px;padding-bottom:30px;margin-top:25px;
    font-size:20px;
}

#navfocus a:link  {
    color:#fff; text-decoration:none;
}
#navfocus a:visited  {
    color:#fff;text-decoration:none;
}
#navfocus a:hover  {
    color:#FFF;text-decoration:bottom;font-weight:bold;
}

#navfocus li {
    float: left; width:10%;margin-right:3%; margin-left:3%;
}
#navfocus li a{
    text-decoration:none; border-bottom:5px solid #083090;
}

#navfocus li a:hover{
    text-decoration:none; border-bottom:5px solid #d5b047;
}
#navfocus li ul {
    line-height: 27px;  list-style-type: none;text-align:left; vertical-align:bottom; font-size:10px; color:#fff;
    left: -700em; width: 1300px; height:188px; margin:0 auto; position: absolute;margin-left:-514px; visibility:visible;background:url(images/sful_bg.png) repeat-x;
}
#navfocus li ul li{
    float: left; width: 123px;
    height:188px;
    padding-top:150px;
    text-align:center;
}
#li_1{
    width:130px;
    background: url(/Public/home/images/nav_3D_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}

#li_2{
    background: url(/Public/home/images/nav_UI_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}
#li_3{
    background: url(/Public/home/images/nav_sn_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}
#li_4{
    background: url(/Public/home/images/nav_web_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}
#li_5{
    background: url(/Public/home/images/nav_yx_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}
#li_6{
    background: url(/Public/home/images/nav_jz_icon.png) no-repeat scroll;
    background-position:100%,20%;
    background-size:80px;80px;
}

#navfocus li ul a{
    color:#fff; display:block; width:140px;height:auto; margin:0 auto;text-align:center; padding-left:15px;font-size:12px; border-bottom:none;
}

#navfocus li ul a:link  {
    color:#fff; text-decoration:none;
}
#navfocus li ul a:visited  {
    color:#fff;text-decoration:none;
}
#navfocus li ul a:hover  {
    color:#F3F3F3;text-decoration:none;font-weight:normal;
    border-bottom:none;
    padding-bottom:0px;

}
#navfocus li ul li{
    height:188px;
    padding-top:0px;
}
#navfocus li ul li a{
    padding-top:150px;
    font-family:Microsoft Yahei;
    font-size:12px;
}
#navfocus li ul li a:hover{
    color:#ffce24;
    font-family:Microsoft Yahei;
    font-size:12px;
}

#navfocus li ul li:hover{
}
#navfocus li ul #li_1:hover{
    background:url(/Public/home/images/nav_3D_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}
#navfocus li ul #li_2:hover{
    background:url(/Public/home/images/nav_UI_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}
#navfocus li ul #li_3:hover{
    background:url(/Public/home/images/nav_sn_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}
#navfocus li ul #li_4:hover{
    background:url(/Public/home/images/nav_web_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}
#navfocus li ul #li_5:hover{
    background:url(/Public/home/images/nav_yx_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}
#navfocus li ul #li_6:hover{
    background:url(/Public/home/images/nav_jz_hover_icon.png) no-repeat;
    background-position:100%,20%;
    background-size:80px;80px;
}


#navfocus li:hover ul {
    left: auto;
}
#navfocus li.sfhover ul {
    color:#fff;
    width:1300px;
    height:188px;
    left: auto;
    background:url(/Public/home/images/sful_bg.png);
    visibility:visible;
}
#navfocus li.sfhover ul li:hover{
    width:123px;
    height:188px;
    text-align:center;
}
#content {
    clear: left;
}




/*------------开班信息--------------*/
#subbar,#news_subbar{
	height:40px;
	width:100%;
}
#subbar ul{
	width:100%;
	height:50px;
	margin-left:20px;
}
#subbar ul li{
	width:6%;
	float:left;
	margin-right:1.6%;
	padding-bottom:10px;
}
#subbar ul li:hover{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
}
#subbar ul li a {
	width:147px;
	text-decoration:none;
	padding-bottom:10px;
}
#subbar ul li a.sel{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
    height: 50px;
    width: 147px;
}

#news_subbar ul{
	background:url("../images/news_icon.png") no-repeat scroll;
	padding-left:40px;	
	width:100%;
	height:50px;
	margin-left:20px;
}
#news_subbar ul li{
	width:6%;
	float:left;
	margin-right:1.6%;
	padding-bottom:10px;
}
#news_subbar ul li:hover{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
}
#news_subbar ul li a {
	width:147px;
	text-decoration:none;
	padding-bottom:10px;
}
#news_subbar ul li a.sel{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
    height: 50px;
    width: 147px;
}
#news_subbar span{

}

#content,#news_content{
	width:1400px;
	margin:0 auto;
	margin-bottom:40px;
}
#content iframe{
	width:100%;
	height:420px;
	margin-top:20px;
}
#news_content iframe{
	width:100%;
	height:420px;
	margin-top:20px;
	
}

/*---------------开班信息结束-----------------*/
/*---------------最新新闻开始-----------------*/
.news{
	background:#f7f9fc;
}

/*---------------最新新闻结束------------------------*/

/*-------学校环境开始-------*/
.school{
	padding-bottom:40px;
}

/*-------学校环境结束-------*/

/*---------------合作伙伴开始------------------------*/
.coactioner{
	margin-bottom:100px;
}
.coactioner ul{
	width:100%;
	margin:0 auto;
}
.coactioner ul li{
	width:16%;
	float:left;
	height:80px;
	text-align:center;
	margin-right:5px;
}
.coactioner ul li img{
	width:200px;
	height:80px;
}
/*---------------合作伙伴结束------------------------*/
/*-------------教育图标-------------*/
.edu_con{
margin-top:40px;
margin-bottom:40px;
}
.edu_con ul{
	width:100%;
	margin:0 auto;
}
.edu_con ul li{
	width:13%;
	float:left;
	height:150px;
	text-align:center;
	margin-right:15px;
}
.edu_con ul li img{
	width:90px;
	height:100px;
}
.edu_con ul li span{
	display:block;
	color:#666666;
	font-size:18px;
}
/*------------页脚--------------*/
.footer{
	background:#3d3d3d;
	padding:50px 50px 100px 50px;
	text-shadow:2px 2px 2px #000;
}
.wrap5{
	width:1250px;
	height:360px;
	position:relative;
}
.footer .wrap ul{
	width:100%;
	height:180px;
	padding-left:100px;
}
.footer .wrap ul li{
	width:15%;
    height:180px;
	color:#8a8a8a;
	line-height:40px;
	text-align:center;
	float:left;
}
.footer .wrap ul li a{
	border-bottom:solid 1px;
	text-decoration:none;
	padding-bottom:10px;
	color:#8a8a8a;
	font-size:18px;
}
.footer .wrap ul li a:hover{
	color:#8a8a8a;
}
.footer .wrap ul li span{
	display:block;	
}
.camp_info{
	width:100%;
	margin-top:100px;
	text-align:center;
}
.camp_info p{
	color:#8a8a8a;
	line-height:25px;
}
.ew_img_box{
	margin-top:10px;
	width:170px;
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
}

