@charset "utf-8";
/* 首页 布局-liujx*/
/*-----------页头---------------*/
.head{
	width:100%;
	margin:0 auto;
	height:815px;
}

.head .logobox{
	height:100%;
}
.head .nav{
	width:100%;
	height:80px;
	z-index:1000;
}
.head  .nav ul{
	width:99%;
	background:#083090;
	margin-top:100px;
	text-align:center;
	z-index:1000;
	height:80px;
	padding-left:150px;
	padding-top:10px;
}
.head ul li{
	background:url(../images/nav_bg.png) no-repeat scroll;
	background-position:100% 40%;
	width:11%;
	font-weight:bold;
	font-size:20px;
	text-align:center;	
	color:#fff;
	height:65px;
	line-height:50px;
	float:left;
	margin:0 2px;
	text-align:center;	
}
.head ul li a{
	font-size:20px;
	font-weight:bold;
	color:#fff;
	height:65px;
	line-height:50px;
	padding-bottom:26px;
}
.head ul li a:hover{
	text-decoration:none;
	color:#d5b047;
	line-height:50px;
	border-bottom: 5px #d5b047 solid;

}
.head .slider{
	margin-top:-40px;
	width:100%;
	height:300px;
	position:absolute;
	z-index:-1;
	margin-bottom:100px;
}
.train,.advertise,.course{
	margin-top:40px;
	margin-bottom:40px;
	text-align:center;
}
.wrap2{
	position:relative;
}
.consult_button{
	position:absolute;
	bottom:10px;
	right:0px;
	width:
}
.course{
	background:#f7f9fc;
	padding-bottom:30px;
}
 
.course .cour_con{
	margin-top:20px;
	width:100%;
}
.title{
	height:70px;
	background:url(../images/bar_bg.png) no-repeat scroll;
	background-position:100% 50%;
	margin-top:50px;
	width:100%;
	height:80px;
	text-align:center;	
	margin-bottom:40px;
}
.title h1{
	font-size:40px;
	color:#3b3b3b;
	height:40px;
	line-height:40px;
}
.title  span{
	display:block;
	font-size:30px;
	color:#adadae;
}
.course .cour_con .cour_list{
	width:16%;
	margin:4px;
	text-align:center;
}
.course .cour_con .cour_list .cour_intr_title{
	font-size:18px;
	font-weight:bold;
	color:#333333;	
	margin-top:20px;
	margin-bottom:30px;
}
.course .cour_con .cour_list .cour_intr{
	color:#666666;
	width:75%;
	height:140px;
	margin:0 auto;
	font-size:14px;
	text-align:left;
	
}
.course .cour_con .cour_list .info_button{
	background:#083090;
	width:180px;
	height:55px;
	line-height:55px;
	font-size:18px;
	color:#fff;
	vertical-align:middle;
	border-radius:5px;
	margin:0 auto;
	margin-top:30px;
}
.course .cour_con .cour_list .info_button2{
	background:#ffce24;
}
.course .cour_con .cour_list .info_button3{
	background:#71b383;
}
.course .cour_con .cour_list .info_button4{
	background:#a75fab;
}
.course .cour_con .cour_list .info_button5{
	background:#f65177;
}
.course .cour_con .cour_list .info_button6{
	background:#02b8cd;
}

.course .cour_con .cour_list .info_button a{
	color:#fff;
}
.course .cour_con .cour_list .info_button a:hover{
	text-decoration:none;
	color:#af8b0f;
}
/*------------开班信息--------------*/
#subbar,#news_subbar{
	height:40px;
	width:100%;
}
#subbar ul{
	width:100%;
	height:50px;
	margin-left:20px;
}
#subbar ul li{
	width:6%;
	float:left;
	margin-right:1.6%;
	padding-bottom:10px;
}
#subbar ul li:hover{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
}
#subbar ul li a {
	width:147px;
	text-decoration:none;
	padding-bottom:10px;
}
#subbar ul li a.sel{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
    height: 50px;
    width: 147px;
}

#news_subbar ul{
	background:url("../images/news_icon.png") no-repeat scroll;
	padding-left:40px;	
	width:100%;
	height:50px;
	margin-left:20px;
}
#news_subbar ul li{
	width:6%;
	float:left;
	margin-right:1.6%;
	padding-bottom:10px;
}
#news_subbar ul li:hover{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
}
#news_subbar ul li a {
	width:147px;
	text-decoration:none;
	padding-bottom:10px;
}
#news_subbar ul li a.sel{
	background:url("../images/class_bg.png") no-repeat scroll;
	background-position:0% 100%;
    height: 50px;
    width: 147px;
}
#news_subbar span{

}

#content,#news_content{
	width:1400px;
	margin:0 auto;
	margin-bottom:40px;
}
#content iframe{
	width:100%;
	height:420px;
	margin-top:20px;
}
#news_content iframe{
	width:100%;
	height:420px;
	margin-top:20px;
	
}

/*---------------开班信息结束-----------------*/
/*---------------最新新闻开始-----------------*/
.news{
	background:#f7f9fc;
}

/*---------------最新新闻结束------------------------*/

/*-------学校环境开始-------*/
.school{
	padding-bottom:40px;
}

/*-------学校环境结束-------*/

/*---------------合作伙伴开始------------------------*/
.coactioner{
	
}
.coactioner ul{
	width:100%;
	margin:0 auto;
}
.coactioner ul li{
	width:16%;
	float:left;
	height:80px;
	text-align:center;
	margin-right:5px;
}
.coactioner ul li img{
	width:200px;
	height:80px;
}
/*---------------合作伙伴结束------------------------*/
/*-------------教育图标-------------*/
.edu_con{
margin-top:40px;
margin-bottom:40px;
}
.edu_con ul{
	width:100%;
	margin:0 auto;
}
.edu_con ul li{
	width:13%;
	float:left;
	height:150px;
	text-align:center;
	margin-right:15px;
}
.edu_con ul li img{
	width:90px;
	height:100px;
}
.edu_con ul li span{
	display:block;
	color:#666666;
	font-size:18px;
}
/*------------页脚--------------*/
.footer{
	background:#3d3d3d;
	padding:50px 50px 100px 50px;
	text-shadow:2px 2px 2px #000;
}
.wrap5{
	width:1250px;
	height:360px;
	position:relative;
}
.footer .wrap ul{
	width:100%;
	height:180px;
	padding-left:100px;
}
.footer .wrap ul li{
	width:15%;
    height:180px;
	color:#8a8a8a;
	line-height:40px;
	text-align:center;
	float:left;
}
.footer .wrap ul li a{
	border-bottom:solid 1px;
	text-decoration:none;
	padding-bottom:10px;
	color:#8a8a8a;
	font-size:18px;
}
.footer .wrap ul li a:hover{
	color:#8a8a8a;
}
.footer .wrap ul li span{
	display:block;	
}
.camp_info{
	width:100%;
	margin-top:100px;
	text-align:center;
}
.camp_info p{
	color:#8a8a8a;
	line-height:25px;
}
.ew_img_box{
	margin-top:10px;
	width:170px;
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
}