@charset "utf-8";
/* css 重置 */
body,div,ul,li,dl,dt,dd,h2,p,input,select,h1,h2,h3{padding:0;margin:0;font-family:"微软雅黑";font-size:14px; color:#333333;}
html {height:100%;}
body {background:#fff url(../images/top.jpg) center top no-repeat;margin:0;height:100%;font-family:"微软雅黑","宋体",Verdana,Arial,Helvetica,sans-serif;font-size:16px; color:#333333;}
ul{list-style:none ;}
img{border:none;}
a{color:#333;blr:expression(this.onFocus=this.blur());outline:none;text-decoration:none;}
a:hover{color:#005bac; text-decoration:underline;}
.wrap{margin:0 auto;width:1200px;height:auto;overflow:hidden;_zoom:1;}
.left{float:left;}
.right{float:right;}
.clear{
	clear:both;
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
}
.wrap{
	width:1300px;
	margin:0 auto;
}
