<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/css.css" />

</head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->
	
    <div class="vreduyoushi"></div>
    <div class="kyoushi"></div>
    <div class="youshik1">
        <div class="youshi_2"></div>
        <div class="youshi_1"></div>
        <div class="wzys1">一、	华录教育的发展</div>
        <div class="wzys2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录教育，作为中国唯一的文化央企下属的教育学院，华录教育始终引领中国文化教育行业的<br />创新与发展。华录教育将致力于整合华录集团各兄弟公司的教育资源，结合行业各企业用人标准，<br />开发创新的教育产品，从而为行业带来更加精彩的体验，并推动中国文化人才培养。<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;打造中国独有的VR+文化教育，立足VR全产业链式的培训，打破职业培训的传统培训模式。<br />建立中国VR培训标准，推动中国VR培训向正规化、标准化迈进。</div>
        <div class="wzys3">整合华录集团各子公司的用人需求，打造中国最大的企业内训内退机制。</div>
        <div class="wzys4">结合华录集团各子公司用人要求，项目要求，打造中国最专业的项目培训机制。</div>
        <div class="wzys5">联合各相关高校，文化部，教育部，相关协会，打造华录VR教育信息化平台（出版VR教材+VR教育信息化资源库）。</div>
        <div class="wzys6">牵头成立中国VR标准化协会，顶层设计，打造中国VR培训标准及VR教育标准。</div>
        <div class="yshong1"></div>
        <div class="yshong2"></div>
        <div class="yshong3"></div>
        <div class="yshong4"></div>
    </div>
    <div class="kyoushi22"></div>
    <div class="youshik2">
    	<div class="youshi_4"></div>
        <div class="youshi_3"></div>
    	<div class="wzys8">二、	我们的优势</div>
        <div class="wzys9">五大优势，八大理由！华录教育是您的第一选择！</div>
        <div class="wzys10">最高等的教育平台：华录教育作为中国唯一的文化央企，是教育培训的最<br />高平台，能给予学生最完善的学习体验和最广阔的发展空间。</div>
        <div class="wzys11">最热门的培训课程：华录教育设置的所有课程均围绕VR的内容应用，是目前最热门行业，我们<br />承诺只开设100%就业的高薪职业课程。</div>
        <div class="wzys12">最完备的教学体系：资深IT教育团队与华录文化建设团队强强联合，共同打造HIACS教学体系，<br />把传道、授业、解惑做到极致。</div>
        <div class="wzys13">最强大的项目支持：华录集团控股企业七十四家，上市公司两家参股企业八家。拥有大量的项目<br />资源支持，保证学生的学习实训。</div>
        <div class="wzys14">最可靠的就业保障：华录教育拥有完备的就业服务体系、遍布全国的就业支持网络、华录内部及<br />合作企业的人才交流，入学即签订保就业保薪资协议，保证学生100%高薪就业。</div>
        <div class="yshong5"></div>
        <div class="yshong6"></div>
        <div class="yshong7"></div>
        <div class="yshong8"></div>
        <div class="yshong9"></div>
    </div>
    <div class="kyoushi33"></div>
    <div class="youshik3">
    	<div class="youshik4">
        	<div class="wzys15">不得不选择华录教育的<span style="color:red; font:bold 24px '微软雅黑'">八</span>大理由！</div>
            <div class="wzys16">1.	品牌保证：中国唯一文化央企旗下教育品牌。<br />2.	保就业保薪资：入学签订就业协议。
<br />3.	免费学习：先学习后付款。
<br />4.	零基础教学：合理课程、高效教学。
<br />5.	高端的师资力量：经验丰富、顶级师资。
<br />6.	强大的项目支持：华录集团众多项目支持。
<br />7.	完整的教学体系：经验团队+华录文化联合打造。
<br />8.	全面的就业服务：保证学生100%满意就业。</div>
            
        </div>
    </div>
    <div class="kyoushi44"></div>


<footer id="footer">

</footer>
</body>
</html>
