<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/css.css" />
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script>
</head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->

<div class="ppbanner"></div>
	<div class="neirongkcr">
        <div class="tutucr1"></div>
        <div class="tutucr2"></div>
		<div class="dyhcr">华录文化教育学院，中国唯一的文化央企下属的教育学院，致力于打造中国VR+培训领导品牌。</div>
        <div class="wubian_1"></div>
        <div class="wubian_2"></div>
        <div class="wubian_3"></div>
        <div class="wubian_4"></div>
        <div class="wubian_5"></div>
        <div class="wubian_6"></div>
        <div class="wubian_7"></div>
        <div class="wubian_8"></div>
        <div class="wubian_9"></div>
    </div>
    <div class="fangcrk1">
    	<div class="fangcrk1www">一、中国华录集团有限公司</div>
    </div>
    <div class="fangcrk2">
    	<div class="fangcrk1wwr">
        	<div class="fangcrk1www1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 中国华录集团有限公司是国务院国有资产监督管理委员会直接管理的中央企业，成立于2000年6月18日，是专业从事音视频产品及相关应用技术研发、制造、销售的大型国有企业。其注册资本153955万元，总部设在大连，分子公司分布在大连、北京、上海、广州、深圳、郴州等地，建有国家级技术研发中心和北京研究所、深圳研究所等研发机构和国际国内营销网络。
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 华录集团的前身是1992年6月经国务院批准成立的中国华录电子有限公司，目的是为发展中国录像机产业，建设世界最先进的视听产品关键件生产基地，从事多媒体信息记录、存储、处理及应用，创造和满足人们的时尚生活。华录集团经过不断的产业结构调整和产品结构调整，积极推进双层经营体制、管理创新，加大科研开发力量，经济效益稳步上升，企业的规模不断扩大。2013年初，华录集团整体重组了中国唱片总公司。目前，华录集团共拥有控股企业七十四家，上市公司两家，参股企业八家。
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 中国华录集团定位于以信息产业为基础的新型文化产业集团，已经构建了数字音视频终端、内容、服务三大产业板块，打造了国内最完整的数字高清音视频产业链，拥有“中国高清第一品牌”、“中国智能交通领先品牌”、获得国内影视剧“最有影响力企业”和“国家文化出口重点企业”称号，同时拥有在海内外具有重要影响力的民族文化品牌“中国（CRC）”。
</div>
        </div>
    </div>
    <div class="fangcrk3"></div>
        <div class="cuzicrk">
    		<div class="fangcrkzicu">二、华录文化产业有限公司</div>
        </div>
    <div class="fangcrbj2">
    	<div class="fangcrzikg2">
        	<div class="fangcrzi2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录文化产业有限公司成立于2003年8月，注册资本8000万，隶属国务院国资委直属的中央企业中国华录集团。华录文化公司作为中国华录集团旗下专业从事文化产业及衍生业务运作的文化企业，始终立足自身发展优势，结合中国华录集团在信息产业与文化产业发展中的优质资源，发展成为集公共文化服务；在线教育培训；数字家庭游戏运营；影视投资、制作、发行；版权运营、3D拍摄、蓝光编辑制作、光盘复制发行、数字出版为一体的国有文化传媒企业。公司是经国家认定的高新技术企业，具有营业性演出许可证、网络文化经营许可证和电信与信息服务业务经营许可证等多项经营资质。公司技术实力雄厚，拥有多项专利和软件著作权。公司旗下拥有控股企业北京华录百纳影视股份有限公司及参股企业华录出版传媒有限公司等在行业内的领军企业。
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录文化产业有限公司以国家大力发展文化产业为契机，依托中国华录集团的资源优势，运用先进的经营管理方式，积极寻求多方位合作，重视人才队伍的建设，稳健经营，不断创新，把公司建设成为管理先进、产品优秀、公众信赖的行业领军企业。</div>
        </div>
    </div>
    
    <div class="fangcrk3"></div>
    
    <div class="cuzicrk22">
    	<div class="cuzicryou22">三、华录文化教育学院</div>
    </div>
    <div class="fangcrbj33">
    	<div class="fangcrzikg33">
        	<div class="fangcrzi33">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录文化教育学院隶属于华录文化产业有限公司，成立于2016年。前身为华录文化产业有限公司VR教育事业部。华录文化教育学院，致力于打造中国央企教育第一品牌，中国VR+培训领导品牌。
       <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秉承秉持“本、匠、信、远”的文化理念，秉承“注重职业技能传授，关注文化修养提升”的教育理念，以培养实战型文化创意人才为目标，其课程主要分为：职业技能创新培训和文化教育创新培训两大类。
       <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职业技能创新培训主要针对大中专毕业生，社会转型人士等人才进行培训，主要课程有VR(unity方向)，VR(UI界面设计方向)，VR(游戏模型方向)，VR（策划运营方向）、VR（华录定制班）等全产业链的课程培训内容。文化教育创新培训主要针对各相关高校、文化企业、政府等进行培训，主要课程有VR+区域经济发展课程，VR+高校课程改革课程，高校课程置换合作课程，互联网+区域经济发展课程等高端实训内容。
       <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为中国唯一的文化央企下属的教育学院，华录教育始终引领中国文化教育行业的创新与发展。华录教育将致力于整合华录集团各兄弟公司的教育资源，结合行业各企业用人标准，开发创新的教育产品，从而为行业带来更加精彩的体验，并推动中国文化人才培养。</div>
        </div>
    </div>
    <div class="fangcrk3"></div>


<footer id="footer">

</footer>

</body>
</html>
