<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/css.css" />
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script>
</head>

<body>

<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->
	<div class="hzhb_1"></div>
    <div class="whkuang">
    	<div class="whkz1">一、	合作企业</div>
        <div class="whkz2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着科技发展和企业规模的扩大，需要更多的应用技术型人才，而高校的扩招，也迫切需要解决毕业生的就业之路，校企合作人才培养模式，能够使学校和企业优势<br />互补、资源共享、互惠互利、共谋发展。华录文化教育与各大小企业建立人才协作关系，互利共赢，打造高端技术型人才。</div>
        <div class="whtuk1"></div>
        <div class="whtuk2"></div>
        <div class="whtuk3"></div>
        <div class="whtuk4"></div>
        <div class="whtuk5"></div>
        <div class="whtuk6"></div>
        <div class="whtuk7"></div>
        <div class="whtuk8"></div>
        <div class="whtuk9"></div>
        <div class="whtuk10"></div>
        <div class="whtuk11"></div>
        <div class="whtuk12"></div>
        
        
        <div class="whkz3">二、	合作院校</div>
        <div class="whkz4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华录文化教育将不遗余力地将“注重实战经验传授，关注职业价值提升”理念推广到各大高校。培养计划是将提出的具有开创性的校企互动模式，通过对高校原有滞后<br />于市场需求的课程体系加以变革来实现课程的科学、优化配置，将华录先进、成熟并适合中国国情的课程体系融入到学校正常的教学计划中来，把学生培养成适应企业需求<br />的VR人才，以此全面带动学校的品牌建设、市场运作和教学核心竞争力的提升，实现优势互补、资源共享。</div>
        <div class="whtuk13"></div>
        <div class="whtuk14"></div>
        <div class="whtuk15"></div>
    </div>

<footer id="footer">

</footer>

</body>
</html>
