<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="../Public/home/images/css.css" />
    <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../Public/home/js/common.js"></script>

    <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->
	
    <div class="vredu"></div>
    
    <div class="mrcoolbread">
            <div class="mrcoolbread1">VR教育<br></div>
            <div class="mrcoolbread2">VR EDUCATION</div>
  		</div>
    
    
    <div class="kongedu22">
    	<div class="educrz3">2016年9月3日，国家领导人习近平出席了G20工商峰会开幕式并发表主旨演讲，并提到了虚拟现实：“创新是从根本上打开增长之锁的钥匙。以互联网为核心的新一轮科技和产业革命蓄势待发，人工智能、虚拟现实等新技术日新月异，虚拟经济与实体经济的结合，将给人们的生产方式和生活方式带来革命性变化。这种变化不会一蹴而就，也不会一帆风顺，需要各国合力推动，在充分放大和加速其正面效应的同时，把可能出现的负面影响降到最低。”</div>
    </div>
    <div class="kongedu44"></div>
    <div class="kuangcr_oo">
    	<div class="edu_crtu1"></div>
        <div class="edu_crtu2"></div>
        <div class="edu_crtu3"></div>
        <div class="edu_crtu4"></div>
        <div class="edu_crtu5"></div>
    </div>
    <div class="kongedu55"></div>
    <div class="edu_bjtuu1">
    	<div class="kucrdd">
        		<div class="kucrdd1zicc">VR-高调征服世界
</div>
            	<div class="kucrdd1zi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VR，即虚拟现实，是一种利用计算机生成模拟环境，创造跟现实生活体验相似的虚拟世界。并借助专业设备，让用户进入虚拟空间，实时感知和操作，从而获得身感受的技术。
       <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虚拟现实技术广泛应用于游戏、新闻媒体、社交、体育与比赛、电影、演唱会、教育、电商、医学、城市规划、房地产等。 
       <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年被称为VR行业的元年，一时之间，VR热潮席卷了全国乃至全世界，从资本到市场，似乎一夜之间都要为之沸腾。微软、谷歌、育碧、HTC等均以正式加入虚拟现实领域，国内淘宝、百度、爱奇艺、小米、锤子、360、网易等相继投身研发推出VR产品。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前VR行业仍处于起步阶段，供应链及配套还不成熟，但是发展前景引人想象，预计到2020年， VR设备市场规模约400亿元，加上内容服务和企业级应用，市场容量超过千亿，未来市场潜力巨大。</div>
        </div>
    </div>
    
    <div class="edu_bjtuu2">
    	<div class="kucriip">
        	<div class="fonruizi1">华录-强势加盟VR教育</div>
            <div class="fonruizi2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国唯一文化央企华录集团进军教育行业，华录文化教育学院始终引领中国文化教育行业的创新与发展。将致力于打造中国独有的VR+文化教育，立足VR全产业链式的培训，打破职业培训的传统培训模式。建立中国VR培训标准，推动中国VR培训向正规化、标准化迈进。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前华录教育的课程分为：职业技能创新培训和文化教育创新培训两大类。
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职业技能创新培训主要针对大中专毕业生，社会转型人士等人才进行培训，主要课程有VR(unity方向)，VR(UI界面设计方向)，VR(游戏模型方向)，VR（策划运营方向）、VR（华录定制班）等全产业链的课程培训内容。
      <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文化教育创新培训主要针对各相关高校、文化企业、政府等进行培训，主要课程有VR+区域经济发展课程，VR+高校课程改革课程，高校课程置换合作课程，互联网+区域经济发展课程等高端实训内容。</div>
        </div>
    </div>





<footer id="footer">

</footer>
    
</body>
</html>
