<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="../Public/home/images/css.css" />

 <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script> </head>

<body>
<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->



<div class="five4"><!--内容-->
    <div class="banner1cly"></div>
    <div class="five41">
    	<div class="hjscly">一、校园环境</div>
        <div class="hjscly1"><br /><br /><br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介：华录文化教育学院，注重学生综合能力的培训，以虚拟现实培训为主体，衍<br />生出与之相关的虚拟现实技术展示，VR项目实训，企业内训等，这里拥有北京、全国乃<br />至世界的互联网领先技术。学生在这里不止可以学习到符合企业需求的专业技能，更可<br />以收获无限可能。</div>
  		<div class="xyt0cly"></div>
		<div class="xyt1cly"></div>
        <div class="xyt2cly"></div>
        <div class="xyt3cly"></div>
        
        
        <div class="zscly">二、住宿条件</div>
        <div class="zscly1"><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介：我们为学生提供良好的住宿服务，宿舍内干净整洁，设施齐全，每个房间配有单独卫浴。房型设置、<br />有2人间、4人间、6人间、8人间，学生可以自行选择房型。如遇家人同行，这里还配有宾馆式标间方便住宿。</div>
		<div class="zst0cly"></div>
        <div class="zst1cly"></div>
        <div class="zst2cly"></div>
        <div class="zst3cly"></div>
        
        <div class="zbcly">三，周边环境</div>
        <div class="zbcly1"><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;简介：中国华录文化教育学院建于华录集团大厦内，坐落于石景山区，石景山区是中国北京市<br />西部一个市辖区，东临帝阙，西濒浑河，距天安门16千米，因“燕都第一仙山石景山”而得名，是<br />重工业企业、高科技单位和多个国家体育运动中心聚集的地方，有首都钢铁总公司等国有大中型企<br />业数家，还拥有从幼儿园、小学、中学到大学的完善教育体系和完备的教育设施，荟萃天泰山、翠<br />微山、石景山、莲花河等景点，是北京市城区中山林资源最丰富、绿化覆盖率最高、人均拥有公共<br />绿地最多的地区。
              <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国华录文化教育学院地理位置便利，旁边即是当代商城，附近更是有八角游乐园、万达广场等。</div>
		<div class="zbt0cly"></div>
        <div class="zbt1cly"></div>
        <div class="zbt2cly"></div>
    	<div class="zbt3cly"></div> 
	</div> 
</div><!--内容-->



<footer id="footer">

</footer>
    
</body>
</html>
