<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/images/css.css" />

 <script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script> </head>

<body>

<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->


<div class="five1"><!--报名流程-->
	<div class="bmcly">
    	<div class="bmcly1">报名流程</div>
        <div class="bmcly2">REGISTRATION PROCESS</div>
    </div>
    <div class="liucly00">
        <div class="liucly">
            <div class="liucly0">一、线上报名
                <div class="liucly1">
                    <div class="phonecly"></div>
                    <div class="rxcly">报名热线：010-52281613</div> 
                </div>
                <div class="liucly2">
                    <div class="netcly"></div>
                    <div class="swcly">网上申请：您可以点击<a href="/notice/signUp">线上申请报名</a>，填写申请，后提交。</div>
                </div>
                <div class="liucly3">
                    <div class="xjcly"></div>
                    <div class="xxcly">线下报名：通过面谈了解后填写纸质报名申请。在你成为我们的一员之前，我们愿意更多了解你的专长、
       你的事业发展目标；并且竭尽所能帮你解答关于学校、课程、未来就业等的疑问。</div>
                </div>
            </div>
            <div class="liucly01">二，学校环境参观
                <div class="liucly02">我们欢迎你来到我们的学校，我们将会带你看看你将在什么样的环境里面学习，熟悉学习环境，感受浓厚的学习氛围。</div>
            </div>
            <div class="schoolcly"></div>
            <div class="liucly10">三，缴纳报名费
                <div class="liucly11">报名费缴纳方式有以下三种：</div>
                <div class="liucly12">
                    <div class="xccly"></div>
                    <div class="rxcly">现场缴费报名：您可直接前往中国华录文化教育，现场办理注册手续并缴纳报名订金。</div> 
                </div>
                <div class="liucly13">
                    <div class="Applycly"></div>
                    <div class="rxcly1">支付宝缴费报名：支付宝搜索“华录教育”，或通过微信二维码扫描进行支付，支付时请注明姓
       名（学生本人的真实姓名）及所报班级名称。</div> 
                </div>
                <div class="liucly14">
                    <div class="wxcly"></div>
                    <div class="rxcly2">微信缴费报名：支付宝搜索“华录教育”，或通过微信二维码扫描进行支付，支付时请注明姓
       名（学生本人的真实姓名）及所报班级名称</div> 
                </div>
     
                <div class="wzcly26"></div>   
                
                <div class="liucly15">
                    <div class="cardcly"></div>
                    <div class="rxcly">汇款转账报名：
             您可以直接到附近的银行，填写汇款单，选择对公汇款（注意不同银行可使用跨行汇款的形式，异地银行汇款需收取手续费）<br />××银行 <br />开户公司名称：×××<br />帐 号：000000<br />开户行：×××
                    </div> 
                    <div class="ylcly">
                        <div class="ylcly1"></div>
                    </div>
                    <div class="hkcly">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：汇款后请将汇款凭证传真或拍照发给咨询老师，并注明：姓名（学生本人的真实姓名）、性别、所报班级名称、电话（区号）对报名缴费的方式有疑问的同学，可以联系您的教育顾问老师，帮您完成报名手续
                    </div> 
                </div>
            </div>   
      </div>
	</div>

</div><!--报名流程结束-->


<footer id="footer">

</footer>

    
</body>
</html>
