<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>华录文化教育学院</title>
<link rel="stylesheet" type="text/css" href="../Public/home/images/reset.css" />
<link rel="stylesheet" type="text/css" href="../Public/home/images/css.css" />

 <script type="text/javascript" src="../Public/home/js/jquery-1.7.1.min.js"></script>     <script type="text/javascript" src="../Public/home/js/common.js"></script>     <script type="text/javascript" src="../Public/home/js/html5shiv.min.js"></script>  </head>

<body>

<header id="header">

</header>
<div class="kongbcr"></div><!--头部结束-->

<div class="xxxhfkbanner1"></div>
    
    <div class="mrcoolbread">
            <div class="mrcoolbread1">先学习后付款<br></div>
            <div class="mrcoolbread2">Learn after payment</div>
  	</div>

<div class="five2"><!--报名流程-->
	
    <div class="nrcly">
        <div class="tucly"></div>
        <div class="wenzicly1">华录教育凭借其强大实力做到以低利息低手续费向学生提供就业后分期还款金融服务。
        </div>
        <div class="wenzicly2">贷款流程小总结</div>
        <div class="dktcly1"></div>
        <div class="dktcly2"></div>
        <div class="dktcly3"></div>
        <div class="jscly"></div>
        
        <h2>填写贷款申请表，递交贷款材料：</h2>
        <div class="wenzicly21"><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;身份证（复印件或传真），照片学历证复印件（大专或大专以上）/户口本复印件（户口本首页，户主页，个人页）<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行卡：建议中国银行，工商银行，建设银行，储蓄卡等大型银行的照片，卡号。报名须预留学员亲人及<br />一个朋友的联系方式。</div>
        
        <h2 class="h2cly1">银行电话审核材料：</h2>
        <div class="wenzicly22"><br /><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贷款中心电话将致电学员并审核学生信息是否真实，材料提交后学生本人务必注意电话接听，由于本学院正在建<br />设中，暂时只会加到北京010的电话联系。<br /><br /><br /><span></span><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <h2 class="h2cly2">审核通过，签署合同，告知后续还款详情：</h2>
        <div class="wenzicly23"><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签约时需要的资料：本人身份证原件 ，银行卡原件 ，手机 ，申请材料。我们经为你准备培训协议，贷款还贷须知，安排入学等事宜。<br />感谢你的信任。</div>
        
     	   

     </div>
        
  </div>






<footer id="footer">

</footer>
</body>
</html>
